.app-c-breadcrumb {
  @include flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);

  .app-c-breadcrumb__prev {
    color: $app-brand-secondary;
    font-size: $text-md;
    font-weight: $font-weight-normal;
    position: relative;
    padding-right: 13px;
    margin-right: 10px;
    cursor: pointer;

    @include transition(color ease 0.2s);

    .rtl &,
    [dir="rtl"] & {
      padding-right: 0px;
      margin-right: 0px;
      padding-left: 13px;
      margin-left: 10px;
    }

    &:after {
      content: "\e903";
      // font-family: $font-icons;
      font-size: 8px;
      color: $text-dark-40;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      @include flexbox();
      @include align-items(center);

      .rtl &,
      [dir="rtl"] & {
        content: "\e904";
        right: auto;
        left: -3px;
      }
    }

    &:hover {
      color: $text-dark-70;
    }
  }
  .app-c-breadcrumb__active {
    color: $text-dark-60;
    cursor: default;
  }
}
