/* General button sizes */
@import "../core/mixins/border-radius";
@import "../core/mixins/transform";
@import "../core/mixins/transitions";
@import "../core/mixins/button-size";
@import "../core/mixins/flexbox";
@import "../core/mixins/box-shadow";

@import "../variables/variables";
@import "../utilities/utilities";
@import "../theme/theme";

.app-c-btn {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
    border: 1px solid transparent;
    font-weight: $font-weight-semibold;
    color: $white;
    padding: 6px 16px;
    font-size: $text-md;
    line-height: 18px;
    outline: none;
    font-family: $body-font;

    @include transition(background ease 0.3s, color ease 0.3s, border ease 0.3s, box-shadow ease 0.3s);
    @include inline-flex();
    @include align-items(center);
    @include border-radius(35px);

    + .app-c-btn {
        margin-left: 8px;

        .rtl &:not([class*=" mr-"]),
        [dir="rtl"] &:not([class*=" mr-"]) {
            margin-left: 0 !important;
            margin-right: 8px;
        }
    }

    &:hover {
        text-decoration: none;
        outline: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none; /* @include boxShadow(inset 0 3px 5px rgba(0,0,0,.125)); */

        @include noShadow();
    }

    &:focus {
        @include noShadow();
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        pointer-events: auto;
        @include boxShadow(none);

        &:hover,
        &.hover {
            @include boxShadow(none);
        }
    }

    &.app-c-btn--h30 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.app-c-btn--primary {
    background: $app-brand-primary;
    border-color: $app-brand-primary;
    color: $white;
    min-width: 80px;

    @include justify-content(center);

    &:hover {
        color: $white;
        background: $app-brand-primary-dark;
        border-color: $app-brand-primary-dark;
        outline: none;
    }
    &:active,
    &:focus {
        background: $app-brand-primary-extra-dark;
        border-color: $app-brand-primary-extra-dark;
        outline: none;
    }

    &[disabled] {
        background: $app-brand-primary-disable;
        border-color: $app-brand-primary-disable;
        color: $text-disabled;
    }
}

.app-c-btn--secondary {
    background: $text-dark-20;
    border-color: $text-dark-20;
    /*color: $text-dark-50;*/
    color: $text-dark-90;
    min-width: 80px;

    @include justify-content(center);

    &:hover {
        background: $text-dark-30;
        border-color: $text-dark-30;
        outline: none;
    }
    &:not(.k-state-disabled):not([disabled]):active,
    &:not(.k-state-disabled):not([disabled]):focus {
        background: $text-dark-90;
        border-color: $text-dark-90;
        color: $text-dark-20;
        outline: none;
    }

    &[disabled] {
        color: $form-control-disable-border;
        background: $text-dark-10;
        border-color: $text-dark-10;
    }
}
.app-c-btn--teritary {
    background: $app-brand-primary-extra-light;
    color: $app-brand-primary;
    outline: none;

    &:hover {
        background: $app-brand-primary-light;
        border-color: $app-brand-primary-light;
        outline: none;
    }
    &:active,
    &:focus {
        background: $app-brand-primary;
        border-color: $app-brand-primary;
        color: $white;
        outline: none;
    }
}
