
.card {
    background: $white;
    margin: 15px 0px;
    border-color: $app-card-border;

    @include border-radius(3px);
    @include boxShadow(0 5px 10px rgba(0, 0, 0, 0.05));

    .card-header{
        border-color: $app-card-border;
        background-color: $app-card-header;
    }

    /* .card-body {
        padding: 15px;
     } */

    .card-footer {
        background: transparent;
        border-color: $app-card-border;
    
        .app-c-btn {
            @media screen and (max-width: 600px) {
                display: block;
                width: 100%;
                + .app-c-btn {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                }
            }
        }
    }
    .card-title {
        margin-bottom: 10px;
        color: $black;
    
        h5 {
            font-size: 20px;
            margin-bottom: 0px;
            margin-top: 0;
        }
    }
    .card-sub-title {
        margin-bottom: 8px;
        h6 {
            display: inline-block;
            font-size: $text-lg;
            margin-bottom: 0px;
            margin-top: 0;
        }
    }
}

.app-c-card--default{
    background: $white;
    position: relative;

    @include border-radius(2px);
    @include boxShadow(0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31));

    &.app-c-card--no-shadow{
        @include noShadow();
    }
    &.app-c-card--grey{
        background: $app-card-grey;
    }
    .app-c-card__header{
        padding: 16px 16px 10px;

        @include flexbox();
        @include align-items(center);

        @media screen and (max-width: $screen-xs-max) {
            padding-left: 14px;
            padding-right: 14px;
        }

        .app-c-card__heading{
            color: $text-dark-90;
            font-weight: $font-weight-normal;
            font-size: $text-xxl;
            margin: 0;
        }
        .app-c-btn{
            margin-left: 8px;
        }

        .app-l-card-head-left {
            @include flexbox();
            @include align-items(center);
        }
        .app-l-card-head-right {
            @include flexbox();
            @include align-items(center);

            margin-left: auto;

            &.app-l-high-res-controls {

                @media screen and (max-width: $screen-sm-max) {
                    display: none;
                }
            }
        }
    }
    .app-c-card__body{
        padding: 16px;
    }
    .app-c-card__footer{
        border-top: $generic-border-color 1px solid;
        padding: 8px 16px;

        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-end);

        @media screen and (max-width: $screen-xs) {
            @include flex-direction(column);
        }

        > * {
            @media screen and (max-width: $screen-xs) {
                width: 100%;
            }
            +  * {
                @media screen and (max-width: $screen-xs) {
                    margin-top: 5px;
                    margin-left: 0;
                    width: 100%;
                }
            }
        }
        &.low-res-footer {
            display: none;

            @media screen and (max-width: $screen-sm-max) {
                @include flexbox();
            }
        }
    }
    .app-l-card-form {
        width: 100%;
        margin: 0;
    }
    &.app-c-card--full-width{
        @include border-radius(0px);
        @include boxShadow(0px 3px 6px $app-card-shadow);
    }
}
