@import "../core/mixins/transitions";
@import "../core/mixins/border-radius";
@import "../core/mixins/box-shadow";
@import "../theme/theme";
.app-c-datepicker {
  &.month-year-only {
    width: 152px;
  }

  .k-datepicker {
    width: 100%;
    .k-picker-wrap {
      height: 30px;
      border: 1px solid $form-control-border;

      @include transition(border ease 0.3s, color ease 0.3s, box-shadow ease 0.3s, margin 0.3s ease);
      @include border-radius(2px);

      &:hover {
        border-color: $form-control-hover-border;
      }
      .k-input {
        height: 100%;
        font-family: $body-font;
        font-size: $text-md;
        color: $app-brand-secondary;
        padding: 6px 10px;

        &::placeholder {
          color: $text-dark-60;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          color: $text-dark-60;
        }

        &::-ms-input-placeholder {
          color: $text-dark-60;
        }
      }
      &.k-state-focused {
        border-color: $form-control-active-border;
        @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
      }
      .k-select {
        background-color: transparent;
        background-image: none;
        border-left-color: transparent;
        .k-icon {
          // font-family: $font-icons !important;
        }
        .k-i-calendar {
          &::before {
            content: "\e93e";
          }
        }
      }
    }
  }
}

.has-error {
  .app-c-datepicker {
    .k-datepicker {
      .k-picker-wrap {
        border-color: $form-error;
      }
      &.k-state-focused {
        border-color: $form-error;
      }
    }
  }
}

.k-calendar {
  font-family: $body-font !important;
  .k-calendar-monthview {
    .k-link {
      width: 32px;
      height: 32px;
      @include border-radius(50%);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .k-state-selected {
    &:hover {
      .k-link {
        background-color: $app-brand-primary;
      }
    }
    .k-link {
      background-color: $app-brand-primary;
    }
  }
  .k-state-focused {
    .k-link {
      box-shadow: none !important;
    }
  }
  .k-calendar-header {
    .k-title {
      font-family: $body-font;
    }
    .k-today {
      color: $app-brand-primary;
      &:hover,
      &:focus {
        color: $app-brand-primary-dark;
      }
    }
  }
  .k-calendar-navigation {
    li:hover {
      color: $app-brand-primary;
    }
  }
  .k-calendar-view {
    td,
    th {
      vertical-align: middle;
    }
  }
  .k-today {
    .k-link {
      box-shadow: none !important;
    }
  }
}

.app-l-ed__calendar {
  .k-calendar {
    width: 100%;
    max-width: 100%;
    border: none;

    /*@include flexbox();

		.k-calendar-view{
			min-width: 0;
			padding: 0;
			width: 100%;

			@include flex-shrink(initial);

			.k-calendar-header{
				.k-title{
					font-weight: $font-weight-semibold;
					font-size: 13px;
					color: $app-brand-secondary;
				}
			}
    }*/

    .k-calendar-view {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.app-c-plain-calendar {
  .k-calendar {
    border: none;

    .k-calendar-header {
      .k-title {
        &.k-button {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .k-today {
        padding-right: 13px;
        padding-left: 13px;
      }
    }

    .k-content {
      & > table {
        table-layout: auto;
        width: 100%;
        margin-right: 0;
      }

      &.k-scrollable {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .k-calendar-infinite {
    width: 100%;

    .k-calendar-view,
    .k-calendar-monthview {
      padding-left: 0;
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    .k-calendar-view {
      width: 100%;
      height: 280px;
    }

    .k-calendar-header {
      padding: 0;
      margin: 0;
    }
  }

  &.app-c-plain-calendar--no-scroll {
    .k-calendar {
      .k-calendar-yearview {
        .k-content {
          &.k-scrollable {
            overflow: hidden;

            tbody + tbody {
              display: none;
            }
          }
        }
      }
      .k-calendar-monthview {
        .k-content {
          &.k-scrollable {
            overflow: hidden;
          }
        }
      }
    }
  }
}

.app-c-bs-datepicker-group {
  position: relative;

  .form-control {
    padding-right: 32px;

    .rtl &,
    [dir="rtl"] & {
      padding-right: 10px;
      padding-left: 32px;
    }
  }

  .app-c-bs-datepicker-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    @include transform(translateY(-50%));

    .rtl &,
    [dir="rtl"] & {
      right: auto;
      left: 8px;
    }
  }
}
.app-c-bs-datepicker {
  .bs-datepicker-container {
    padding: 0;
  }

  .bs-datepicker-head {
    min-width: 332px;

    button {
      &:hover,
      &:active {
        background-color: $app-brand-primary-extra-light;
      }

      &.next,
      &.previous {
        position: relative;
        span {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 0;

          &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
            // font-family: $font-icons;
            font-size: $text-lg;
            color: $app-brand-secondary;
          }
        }
      }

      &.next span {
        &::before {
          content: "\e921";
        }
      }
      &.previous span {
        &::before {
          content: "\e920";
        }
      }

      &.current {
        font-size: $text-md-plus;
        color: $app-brand-secondary;
        font-weight: $font-weight-semibold;
      }
    }
  }

  .bs-datepicker-body {
    min-width: 332px;
    border: none;

    table {
      th {
        padding-bottom: 8px;
        font-size: $text-md-plus;
        font-weight: $font-weight-semibold;
        color: $text-dark-60;
        text-transform: uppercase;
      }
      td {
        padding: 2px;
        color: $app-brand-secondary;

        span {
          font-size: $text-xl;
          &:before {
            height: 33px;
            top: 2px;
          }
          &.selected {
            background-color: $app-brand-primary;
            &.select-end {
              &:before {
                @include border-radius(0px 50% 50% 0px);
                right: 7px;
              }
            }
            &.select-start {
              &:before {
                @include border-radius(50% 0px 0px 50%);
                background-color: $app-brand-primary-extra-light;
                left: 7px;
              }
            }
          }
          &.is-highlighted:not(.disabled):not(.selected) {
            background-color: $app-brand-primary-extra-light;
          }
        }
      }
      &.days span.in-range:not(.select-start)::before {
        background-color: $app-brand-primary-extra-light;
      }
    }
  }
}
.k-calendar .k-state-selected.k-state-hover .k-link,
.k-calendar .k-state-selected:hover .k-link,
.k-calendar .k-state-selected .k-link {
  border-color: $app-brand-primary;
  color: $white;
  background-color: $app-brand-primary;
}
//kendo datepicker
.datepicker-kendo {
  width: 100%;
  /*min-height: 32px;*/
  &.k-datepicker .k-select,
  .k-timepicker .k-select,
  &.k-datetimepicker .k-select,
  &.k-datepicker .k-picker-wrap:hover .k-select {
    border-color: $white;
    color: #212529;
    background-color: $white;
  }
  .k-calendar-navigation .k-content {
    background: #faf9f866;
  }
  &.k-datepicker .k-picker-wrap.k-state-focused,
  &.k-datepicker .k-picker-wrap.k-state-active,
  &.k-timepicker .k-picker-wrap.k-state-focused,
  &.k-timepicker .k-picker-wrap.k-state-active,
  &.k-datetimepicker .k-picker-wrap.k-state-focused,
  &.k-datetimepicker .k-picker-wrap.k-state-active {
    border-color: $form-control-active-border;
    @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
  }
  .k-picker-wrap:hover {
    border-color: $form-control-active-border;
  }
  .k-input {
    /*height: 30px;*/
    height: calc(30px - 2px); /*top and bottom 1px border*/
    font-size: $text-md;
    font-family: $body-font;
  }
  .k-select {
    .k-icon.k-i-calendar:before {
      content: "\e93e";
      // font-family: $font-icons;
      color: $text-dark-90;
    }
    &:focus {
      .k-icon.k-i-calendar:before {
        color: $black;
      }
    }
  }
  .k-dateinput {
    .k-dateinput-wrap {
      border-color: $text-dark-40;
      &:hover {
        border-color: $form-control-active-border;
      }
    }
    .k-select,
    .k-state-focused {
      border-color: $form-control-active-border;
      @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
    }
  }

  &--pill {
    &.k-datepicker {
      @include boxShadow(
        0px 3px 5px transparentize($color: $shadow-color, $amount: 0.8),
        0px 0px 1px transparentize($color: $shadow-color, $amount: 0.69)
      );
      @include border-radius(30px);

      .k-picker-wrap {
        @include border-radius(30px);

        .k-select {
          padding-right: 12px;
          @include border-radius(0 30px 30px 0);

          .rtl &,
          [dir="rtl"] & {
            padding-right: 0;
            padding-left: 12px;
            @include border-radius(30px 0 0 30px);
          }
        }
      }

      .k-dateinput {
        .k-dateinput-wrap {
          @include border-radius(30px 0 0 30px);

          .rtl &,
          [dir="rtl"] & {
            @include border-radius(0 30px 30px 0);
          }
        }
      }
    }
  }
}

.dtpicker-kendo-readonly {
  &.k-state-disabled {
    opacity: 1;
    filter: none;
    pointer-events: auto;
    cursor: not-allowed;
  }

  .k-dateinput {
    .k-dateinput-wrap {
      background: $form-control-disable-background;
      border-color: $form-control-disable-border;

      &:hover {
        border-color: $form-control-disable-border;
      }
    }

    .k-select,
    .k-state-focused {
      border-color: $form-control-disable-border;
      @include noShadow();
    }
  }

  .k-picker-wrap {
    &:hover {
      border-color: $form-control-disable-border !important;

      .k-select {
        background-color: $form-control-disable-background;
        border-color: $form-control-disable-background;
      }
    }

    &.k-state-disabled {
      opacity: 1;
      filter: none;
      pointer-events: auto;
      cursor: not-allowed;
    }
  }

  &.k-datepicker .k-picker-wrap.k-state-focused,
  &.k-datepicker .k-picker-wrap.k-state-active,
  &.k-timepicker .k-picker-wrap.k-state-focused,
  &.k-timepicker .k-picker-wrap.k-state-active,
  &.k-datetimepicker .k-picker-wrap.k-state-focused,
  &.k-datetimepicker .k-picker-wrap.k-state-active {
    border-color: $form-control-disable-border !important;
    box-shadow: none !important;
  }

  .k-select {
    background-color: $form-control-disable-background !important;
    border-color: $form-control-disable-background !important;
  }

  .k-input,
  .k-select {
    cursor: not-allowed;

    .k-link {
      cursor: not-allowed;
    }
  }
}

.k-animation-container {
  .k-popup {
    span {
      font-size: $text-lg;
    }
  }
  .k-calendar .k-calendar-navigation-highlight {
    transform: translateX(11%) translateY(-50%);
    height: 32px;
    @include border-radius(5px 0px 0px 5px);
    @include boxShadow(0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31));
  }
}
//kendo daterange
.input-group-kendo-range {
  @include flexbox();
  .k-dateinput {
    width: 100%;
    font-size: $text-md;
    font-family: $body-font;
  }
  .kendo-range-dates {
    width: 100%;

    & + .kendo-range-dates {
      margin-left: 4px;

      .rtl &,
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: 4px;
      }
    }

    &.kendo-range-dates--mx-16 {
      & + .kendo-range-dates {
        margin-left: 16px;

        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: 16px;
        }
      }
    }

    &.kendo-range-dates--mx-8 {
      & + .kendo-range-dates {
        margin-left: 8px;

        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }

    .k-dateinput {
      .k-dateinput-wrap {
        border-color: $text-dark-40;
        &:hover {
          border-color: $form-control-active-border;
        }
        .k-input {
          height: calc(30px - 2px); /*top and bottom 1px border*/
        }
      }
      .k-select,
      .k-state-focused {
        border-color: $form-control-active-border;
        @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
      }
    }
  }
}
.k-calendar-range {
  .k-icon.k-i-arrow-chevron-left::before {
    content: "\e920";
    // font-family: $font-icons;
    font-size: $text-md;
    color: $text-dark-90;
    .rtl &,
    [dir="rtl"] & {
      content: "\e921";
    }
  }
  .k-icon.k-i-arrow-chevron-right::before {
    content: "\e921";
    font-size: $text-md;
    // font-family: $font-icons;
    color: $text-dark-90;
    .rtl &,
    [dir="rtl"] & {
      content: "\e920";
    }
  }
}
.k-dateinput .k-dateinput-wrap {
  @include border-radius(2px);
  border-color: $text-dark-40;
}
.k-calendar .k-state-hover .k-link,
.k-calendar td:hover .k-link {
  border: 1px solid $app-checkbox-border;
  color: $app-brand-primary;
}
.k-calendar.k-calendar-range .k-range-start,
.k-calendar.k-calendar-range .k-range-end,
.k-calendar.k-calendar-range .k-range-mid {
  background-image: linear-gradient(
    transparent 1px,
    rgb(254, 241, 234, 1) 1px,
    $app-brand-primary-extra-light calc(100% - 1px),
    transparent calc(100% - 1px)
  );
}
.k-calendar.k-calendar-range .k-range-split-end::after,
.k-calendar.k-calendar-range .k-range-split-start::after {
  background-image: linear-gradient(to right, $app-brand-primary-extra-light, transparent 100%);
  left: -1px;
}
.k-calendar.k-calendar-range .k-range-start .k-link,
.k-calendar.k-calendar-range .k-range-end .k-link {
  background-color: $app-brand-primary;
  @include border-radius(50%);
}
.k-calendar-infinite .k-calendar-yearview .k-content .k-link,
.k-calendar-infinite .k-calendar-yearview .k-content td {
  @include border-radius(50%);
}
.k-calendar-view.k-calendar-monthview {
  .k-range-start.k-state-active.k-state-selected {
    @include border-radius(999px 0px 0px 999px);
    background: $app-brand-primary-extra-light;
  }
  .k-range-end.k-state-selected {
    @include border-radius(0px 999px 999px 0px);
    background: $app-brand-primary-extra-light;
  }
  td.k-range-end.k-range-start.k-state-active.k-state-focused.k-state-selected {
    @include border-radius(999px);
  }
  .k-calendar-header .k-title {
    font-weight: $font-weight-semibold;
  }
}

.k-calendar.k-calendar-range .k-range-start.k-state-active .k-link {
  @include boxShadow(none);
}
.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal) > .k-calendar-view {
  border-width: 0 0px;
}
//kendo datepicker& time picker combo
.datetimepicker {
  .k-input {
    /*height: 30px;*/
    height: calc(30px - 2px); /*top and bottom 1px border*/
    font-size: $text-md;
    font-family: $body-font;
  }
  &.k-datepicker .k-picker-wrap.k-state-focused,
  &.k-datepicker .k-picker-wrap.k-state-active,
  &.k-timepicker .k-picker-wrap.k-state-focused,
  &.k-timepicker .k-picker-wrap.k-state-active,
  &.k-datetimepicker .k-picker-wrap.k-state-focused,
  &.k-datetimepicker .k-picker-wrap.k-state-active {
    border-color: $form-control-active-border;
    @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
  }
  .k-picker-wrap:hover {
    border-color: $form-control-active-border;
  }
  &.k-datetimepicker .k-select,
  .k-timepicker .k-select,
  &.k-datetimepicker .k-picker-wrap:hover .k-select {
    border-color: $white;
    color: #212529;
    background-color: $white;
  }
  .k-select {
    .k-icon.k-i-calendar:before {
      content: "\e93e";
      // font-family: $font-icons;
      color: $text-dark-90;
    }
    &:focus {
      .k-icon.k-i-calendar:before {
        color: $black;
      }
    }
  }
}
.k-time-list-wrapper.k-state-focused::before,
.k-time-list-wrapper.k-state-focused::after {
  background-color: $text-dark-20;
  height: calc(50% - 0em);
}
.k-calendar .k-content.k-scrollable {
  .rtl &,
  [dir="rtl"] & {
    margin-left: -100px;
    margin-right: -100px;
  }
}
.k-datetime-container {
  .k-button-group-stretched {
    padding: 6px;
    @include border-radius(50px);
    background: $app-checkbox-bg-disable;
  }
  .k-button {
    background: $app-checkbox-bg-disable;
  }
  .k-button-group .k-button:active,
  .k-button-group .k-button.k-state-active,
  .k-button-group .k-button.k-state-selected,
  .k-button-group > input[type="radio"]:checked + .k-button,
  .k-button-group > input[type="checkbox"]:checked + .k-button {
    border-color: $app-brand-primary;
    color: $white;
    background-color: $app-brand-primary;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    @include border-radius(50px);
  }
  .k-button.k-date-tab {
    font-family: $body-font;
    @include border-radius(40px);
    margin-right: 3px;

    .rtl &,
    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 3px;
    }
  }
  .k-button.k-time-tab {
    font-family: $body-font;
    @include border-radius(40px);
    background: $app-checkbox-bg-disable;
    margin-left: 3px;

    .rtl &,
    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 3px;
    }
  }
  .k-datetime-footer {
    @include boxShadow(0px -3px 3px rgba(9, 30, 66, 0.1));
    background-color: $text-dark-10;
  }
  .k-actions .k-button,
  .k-action-buttons .k-button,
  .k-columnmenu-actions .k-button {
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    margin: 6px 3px;
    padding: 5px 16px;
    font-family: $body-font;
    font-size: $text-md;
  }
  .k-time-header .k-time-now {
    color: $app-brand-primary;
    font-family: $body-font;
    font-size: $text-md-plus;
    letter-spacing: 0.5px;
    padding: 0px 5px;
  }
  .k-button.k-primary {
    border-color: $app-brand-primary;
    color: $white;
    background-color: $app-brand-primary;
  }
  .k-datetime-container .k-datetime-buttongroup {
    margin-top: 10px;
  }
  .k-datetime-container.k-button.k-primary,
  .k-button.k-time-cancel,
  .k-button.k-primary {
    @include border-radius(40px);
  }
  .k-datetime-container .k-time-header .k-time-now {
    font-size: $text-md;
  }
  .k-time-header {
    padding: 0.5rem 2rem;
  }
  .k-time-highlight {
    @include boxShadow(0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31));
  }
  span.k-time-highlight {
    width: 93%;
    transform: translate(13px, -50%);
    @include border-radius(6px);
    .rtl &,
    [dir="rtl"] & {
      transform: translateX(-13px) translateY(-50%);
    }
  }
}
.datetimepicker,
.timepicker {
  width: 100%;
  min-height: 30px;
}
.timepicker {
  .k-input {
    /*height: 30px;*/
    height: calc(30px - 2px); /*top and bottom 1px border*/
    font-size: $text-md;
    font-family: $body-font;
  }
  &.k-timepicker .k-picker-wrap.k-state-focused,
  &.k-timepicker .k-picker-wrap.k-state-active {
    border-color: $form-control-active-border;

    @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
  }
  &.k-timepicker .k-select,
  &.k-timepicker .k-picker-wrap:hover .k-select {
    border-color: $white;
    color: #212529;
    background-color: $white;
  }
  .k-select {
    .k-i-clock:before {
      content: "\e95d";
      // font-family: $font-icons;
      color: $text-dark-90;
    }
    &:focus {
      .k-i-clock.k-i-calendar:before {
        color: $black;
      }
    }
  }
}

.k-timeselector .k-action-buttons .k-button {
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
  margin: 6px 3px;
  padding: 5px 16px;
  font-size: $text-md;
}
.k-time-footer {
  @include boxShadow(0px -3px 3px rgba(9, 30, 66, 0.1));
  background-color: $text-dark-10;
  position: relative;
  top: 7px;
  .k-button {
    @include border-radius(40px);
    background: $app-checkbox-bg-disable;
  }
  .k-time-accept {
    border-color: $app-brand-primary;
    color: $white;
    background-color: $app-brand-primary;
    @include border-radius(40px);
    &:hover {
      background-color: $app-brand-primary;
      border-color: $app-brand-primary;
    }
  }
}
.k-time-highlight {
  width: 91%;
  transform: translateX(7%) translateY(-50%);
  @include border-radius(6px);
  @include boxShadow(0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31));
  .rtl &,
  [dir="rtl"] & {
    transform: translateX(-7%) translateY(-50%);
  }
}
.k-time-header .k-time-now {
  color: $app-brand-primary;
  font-size: $text-lg;
  text-transform: uppercase;
  &:hover {
    color: $app-brand-primary;
  }
}
.k-time-list-wrapper .k-title,
.k-time-header .k-title {
  font-weight: $font-weight-semibold;
  font-family: $body-font;
}
.k-time-list .k-item:hover {
  color: $black;
}

.app-c-dp-pos {
  .k-datepicker,
  .k-datetimepicker,
  .k-timepicker,
  .input-group-kendo-range {
    .k-animation-container {
      left: auto !important;
      right: 0;

      .rtl &,
      [dir="rtl"] & {
        left: 0 !important;
        right: auto;
      }
    }
  }
}

.app-c-tp-pos {
  .k-timepicker {
    .k-animation-container {
      top: 30px !important;
    }
  }
}

.app-c-aud-dp-pos {
  .k-datepicker {
    .k-animation-container {
      top: 30px !important;
    }
  }

  .kendo-range-dates {
    &:nth-child(1) {
      .k-datepicker {
        .k-animation-container {
          left: 0 !important;
          right: auto;

          .rtl &,
          [dir="rtl"] & {
            left: auto !important;
            right: 0;
          }
        }
      }
    }

    &:nth-child(2) {
      .k-datepicker {
        .k-animation-container {
          left: auto !important;
          right: 0;

          .rtl &,
          [dir="rtl"] & {
            left: 0 !important;
            right: auto;
          }
        }
      }
    }
  }
}
