@import "../core/mixins/animation";
.app-c-file-upload {
  @media screen and (max-width: $screen-xs) {
    display: block;
  }

  .app-l-file-upload__btn {
    line-height: normal;

    @include flex-shrink(0);

    label {
      display: block;
      overflow: hidden;
      position: relative;
      background: $text-dark-10;
      border: 1px dashed $text-dark-40;
      padding: 34px 25px;

      @include border-radius(3px);
      @include flexbox();
      @include align-items(center);

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
      .app-l-file__drag-icon {
        font-size: $text-xxl;
        color: $app-brand-secondary;
        margin-right: 6px;

        .rtl &,
        [dir="rtl"] & {
          margin-right: inherit;
          margin-left: 6px;
        }

        em {
          display: block;
        }
      }
      .app-l-file__drag-label {
        color: $app-brand-secondary;
        font-size: $text-md;
        line-height: 18px;
        font-weight: $font-weight-normal;
        display: inline-block;
      }
      .app-l-file__drag-or {
        padding: 0 10px;
        display: inline-block;
        color: $text-dark-70;
        font-size: $text-md;
        line-height: 18px;
        font-weight: $font-weight-normal;
      }
      .app-l-file__drag-file {
        color: $app-brand-primary;
        font-weight: $font-weight-semibold;
        font-size: $text-md;
        line-height: 18px;
      }
    }
  }
}
.app-l-file__list {
  /*padding: 0 0 0 8px; */
  line-height: normal;
  width: 100%;

  @include flexbox();
  @include flex-wrap(wrap);
  @include align-self(center);

  @media screen and (max-width: $screen-xs) {
    padding-left: 0;
    padding-top: 8px;
  }
  .app-c-chips {
    margin: 0 5px 5px 0;
  }

  &.app-l-file__list-block {
    @include flex-direction(column);

    .app-c-form--label__upl-head {
      display: none;
      &.active {
        display: block;
      }
    }

    .app-l-file__thumb-box {
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: $text-dark-10;
      border: 1px solid transparent;
      @include border-radius(3px);
      @include transition(all ease 0.3s);
      padding: 2px;
      &:hover {
        border-color: $text-dark-20;
        background-color: $white;
        @include boxShadow(0px 3px 10px rgba(0, 0, 0, 0.05));
      }
      .app-l-file__thumb-preview {
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        width: 83px;
        height: 83px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        img {
          width: 100%;
          height: 100%;
        }
        .app-l-file__icon {
          color: $app-brand-primary;
          font-size: 20px;
        }
      }
      .app-l-file__thumb-action {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        padding-top: 2px;
        .app-l-file__close {
          width: 16px;
          height: 16px;
          background: $text-dark-20;
          padding: 0;
          border: none;
          outline: none;
          font-size: 8px;

          @include border-radius(3px);
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);

          em {
            display: block;
          }
        }
        .app-l-file__delete {
          background: none;
          outline: none;
          border: none;
          padding: 0;
          font-size: 19px;
          color: $text-dark-70;
        }
      }
    }

    .app-l-file__progress {
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;

      .rtl &,
      [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0px;
      }

      + .app-l-file__progress {
        margin-top: 10px;
      }
    }
  }
}

.app-l-file__progress {
  width: 100%;
  border: 1px solid transparent;
  /*padding: 14px 16px 14px 9px;*/
  padding: 14px 9px;
  // background: $text-dark-10;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  @include flexbox();
  @include align-items(center);
  @include transition(
    background ease 0.2s,
    border ease 0.2s,
    box-shadow ease 0.2s
  );

  .rtl &,
  [dir="rtl"] & {
    margin-right: 0;
    margin-left: 10px;
  }

  .app-l-file__icon {
    margin-right: 13px;
    color: $app-brand-primary;
    font-size: 20px;

    @include flex-shrink(0);

    .rtl &,
    [dir="rtl"] & {
      margin-right: inherit;
      margin-left: 13px;
    }

    em {
      display: block;
    }
  }
  .app-l-file__cn {
    /*width: 100%;*/

    width: calc(100% - 65px);

    .app-l-file__np {
      @include flexbox();
      @include align-items(center);

      .app-l-file__name {
        color: $text-dark-90;
        font-size: $text-md;
        min-width: 0;
        /*padding-right: 20px;

                .rtl &, [dir="rtl"] &{
                    padding-right: inherit;
                    padding-left: 20px;
                }*/

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .app-l-file__percentage {
        margin-left: auto;
        color: $text-dark-90;
        font-size: $text-sm-plus;
        font-weight: $font-weight-normal;

        @include flex-shrink(0);

        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
    .app-l-file__progress-bar {
      height: 2px;
      position: relative;
      overflow: hidden;
      background: $text-dark-40;
      margin-top: 6px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: $app-brand-primary;

        @include transition(width ease 0.2s);
        .rtl &,
        [dir="rtl"] & {
          left: auto;
          right: 0;
        }
      }
    }
    .app-l-file__size {
      display: block;
      color: $text-dark-60;
      font-size: $text-sm-plus;
      line-height: 13px;
      margin-top: 1px;
    }
  }
  .app-l-file__action {
    margin-left: auto;
    padding-left: 16px;

    @include flex-shrink(0);

    .rtl &,
    [dir="rtl"] & {
      margin-right: auto;
      margin-left: 0;
      padding-right: 16px;
      padding-left: 0;
    }

    .app-l-file__close {
      width: 16px;
      height: 16px;
      background: $text-dark-20;
      padding: 0;
      border: none;
      outline: none;
      font-size: 8px;

      @include border-radius(3px);
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      em {
        display: block;
      }
    }
    .app-l-file__delete {
      background: none;
      outline: none;
      border: none;
      padding: 0;
      font-size: 19px;
      color: $text-dark-70;
    }
  }

  &:hover {
    border-color: $text-dark-20;
    background: $white;

    @include boxShadow(0px 3px 10px rgba(0, 0, 0, 0.05));

    .app-l-file__action {
      .app-l-file__close {
        background: $text-dark-20;
      }
    }
  }

  &.alt {
    border: none;
    background-color: $text-dark-10;

    &:hover {
      border-color: $text-dark-10;
      @include noShadow();
    }
  }
}

.app-c-file-upload--default {

  &.app-c-file-upload--bg-white {
    .ngx-file-drop__drop-zone {
      background: $white;
      border-color: $text-dark-50 !important;

      &.ngx-file-drop__drop-zone--over {
        border-color: $app-brand-primary !important;
        background: $app-brand-primary-extra-light;
      }
    }
  }

  .ngx-file-drop__drop-zone {
    background: $text-dark-10;
    border: 1px dashed $text-dark-40 !important;
    height: 88px !important;
    margin-bottom: 8px !important;

    @include border-radius(3px !important);
    @include transition(border ease 0.2s, background ease 0.2s);

    .ngx-file-drop__content {
      height: 100%;
      color: $app-brand-secondary;
      font-size: $text-md;
      line-height: 18px;
      font-weight: $font-weight-normal;

      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      .app-l-file__drag-icon {
        font-size: $text-xxl;
        color: $app-brand-secondary;
        margin-right: 6px;

        .rtl &,
        [dir="rtl"] & {
          margin-right: inherit;
          margin-left: 6px;
        }

        em {
          display: block;
        }
      }
      .app-l-file__drag-label {
        color: $black;
        font-size: $text-md;
        line-height: 18px;
        font-weight: $font-weight-semibold;
        display: inline-block;
      }
      .app-l-file__drag-or {
        padding: 0 10px;
        display: inline-block;
        color: $text-dark-70;
        font-size: $text-md;
        line-height: 18px;
        font-weight: $font-weight-normal;
      }
      .app-l-file__drag-file {
        color: $app-brand-primary-extra-dark;
        font-weight: $font-weight-semibold;
        font-size: $text-md;
        line-height: 18px;
        border: none;
        background: none;
        padding: 0;
        outline: none;

        &:focus {
          outline: none;
        }
      }
    }

    &.ngx-file-drop__drop-zone--over {
      border-color: $app-brand-primary !important;
      background: $app-brand-primary-extra-light;
    }
  }

  &.web-mob {
    .ngx-file-drop__drop-zone {
      @media (max-width: $screen-xs-max) {
        background: none;
        border: none !important;
        height: auto !important;
        margin-bottom: 0 !important;
      }
 
      .app-c-file-control-web {
        @media (min-width: $screen-sm) {
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
        }
 
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
 
      .app-c-file-control-mob {
        @media (min-width: $screen-sm) {
          display: none;
        }
 
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }
    }
  }

  &.app-c-ids__upload {
    .ngx-file-drop__drop-zone {
      height: 167px !important;
    }
  }
}

.app-c-file-upload--mobile {
  .ngx-file-drop__drop-zone {
    .ngx-file-drop__content {
      .app-l-file__drag-label,
      .app-l-file__drag-or {
        display: none;
      }
    }
  }
}

.flexboxCenter {
  @include flexbox();
  @include align-items($value: center);
  @include justify-content($value: center);
  @include flex-direction($value: column);
}
.uploadPanel {
  .ngx-file-custom-fw {
    .ngx-file-drop__drop-zone {
      border-color: transparent;
      height: calc(100vh - 110px);
      .drop-files-prompt {
        min-height: 88px;
        @include border-radius(4px);
        background-color: $app-brand-secondary;
        text-align: center;
        min-width: 300px;
        color: $white;
        .dfp-title {
          min-height: 48px;
          font-size: $text-lg;
          border-bottom: 1px solid $text-dark-70;
        }
        .dfp-sub-title {
          font-size: $text-lg-plus;
          min-height: 40px;
        }
      }

      .fw-draging {
        @include animation(opacityChange 0.2s forwards);
        margin-bottom: 32px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        .upload-files-here {
          width: 48px;
          height: 48px;
          background: $white;
          @include boxShadow(
            0px 3px 5px rgba(9, 30, 66, 0.2),
            0px 0px 1px rgba(9, 30, 66, 0.31)
          );
          @include border-radius(24px);
          color: $app-brand-primary;
          outline: none;
          border: 0;
          margin-bottom: 16px;

          em {
            font-size: $text-md-plus;
          }
        }
      }
      &.ngx-file-drop__drop-zone--over {
        @include border-radius(4px);
        //border-color: $app-brand-primary-dark;
        animation: borderTransition 3s infinite;
        @keyframes borderTransition {
          0% {
            border-color: $app-brand-primary-dark;
          }
          50% {
            border-color: $app-brand-primary-light;
          }
          100% {
            border-color: $app-brand-primary-dark;
          }
        }
        background: rgba(254, 241, 234, 0.25);
        .fw-no-drag {
          @include animation(opacityChange 0.2s forwards);
          @include justify-content($value: center);
        }
        .fw-draging {
          @include animation(opacityChangeR 0.2s forwards);
        }
      }
      .ngx-file-drop__content {
        @include flexbox();
        @include flex-direction($value: column);
        @include align-items($value: center);
        height: 100%;
        .app-l-file__drag-label {
          font-size: $text-xxl;
          color: $text-dark-60;
          font-weight: $font-weight-semibold;
        }
        .app-l-file__drag-or {
          font-size: $text-lg;
          color: $text-dark-60;
          font-weight: $font-weight-semibold;
          margin: 16px 0px;
          text-align: center;
        }
        .app-l-file__add-more {
          background: $white;
          @include boxShadow(0px -3px 3px rgba(9, 30, 66, 0.1));
          padding: 12px 16px;
        }
      }
    }
    .file-list-height {
      height: calc(100vh - 169px);
      .app-l-file__list {
        padding: 0px 16px;
      }
      .app-l-file__progress {
        padding: 13px 15px;
        background-color: $text-dark-10;
      }
    }
    .rtl &,
    [dir="rtl"] & {
      text-align: right;
    }
  }
  .app-l-file__close {
    em {
      font-size: $text-lg-plus;
    }
  }
}
.drag-drop-attachment-wide .ngx-file-custom-fw {
  .ngx-file-drop__drop-zone {
    position: relative;
    height: 100%;
    border-color: transparent;
    &.ngx-file-drop__drop-zone--over {
      @include border-radius(4px);
      min-height: calc(100vh - 368px);
      animation: borderTransition 3s infinite;
      @keyframes borderTransition {
        0% {
          border-color: $app-brand-primary-dark;
        }
        50% {
          border-color: $app-brand-primary-light;
        }
        100% {
          border-color: $app-brand-primary-dark;
        }
      }
      background: rgba(254, 241, 234, 0.25);
      .fw-draging {
        @include animation(opacityChangeR 0.2s forwards);
        opacity: 1;
      }
      .fw-dragarea {
        z-index: 1;
        background: rgba(254, 241, 234, 0.25);
      }
    }
    .fw-dragarea {
      position: absolute;
      z-index: -1;
      @include flexbox();
      @include align-items($value: center);
      @include justify-content($value: flex-end);
      @include flex-direction($value: column);
      @include transition(0.5s all);
    }
    .fw-draging {
      @include animation(opacityChange 0.2s forwards);
      margin-bottom: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      .upload-files-here {
        width: 48px;
        height: 48px;
        background: $white;
        @include boxShadow(
          0px 3px 5px rgba(9, 30, 66, 0.2),
          0px 0px 1px rgba(9, 30, 66, 0.31)
        );
        @include border-radius(24px);
        color: $app-brand-primary;
        outline: none;
        border: 0;
        margin-bottom: 16px;

        em {
          font-size: $text-md-plus;
        }
      }
    }

    .drop-files-prompt {
      min-height: 88px;
      @include border-radius(4px);
      background-color: $app-brand-secondary;
      text-align: center;
      width: 300px;
      margin: 0 auto;
      color: $white;
      .dfp-title {
        min-height: 48px;
        border-bottom: 1px solid $text-dark-70;
        font-size: $text-lg;
      }
      .dfp-sub-title {
        font-size: $text-lg-plus;
        min-height: 40px;
      }
    }
    .ngx-file-drop__content {
      height: 100%;
    }
  }
  .app-l-file__close {
    em {
      font-size: $text-lg-plus;
    }
  }
}
.uploadingpanel{
  z-index: 10;
  .app-l-sp__body{
    background-color: $white;
    
  .app-l-file__list {
    padding: 0;
  }
  .app-l-file__progress {
    padding: 13px 15px;
    background-color: $text-dark-10;
    &.app-l-file__progress{
      .app-l-file__icon{
        em{
          opacity: 0.4;
        }
      }
    }
  }
  }
  .rtl &,
        [dir="rtl"] & {
       text-align: right;
  }
}
.app-c-nsmap__modal.app-c-nsmap__modal--full.active{
  .drag-drop-attachment-wide .ngx-file-custom-fw{
    .ngx-file-drop__drop-zone {

      &.ngx-file-drop__drop-zone--over{
        height: calc(100vh - 129px);
      }
    }
  }
}
@keyframes opacityChange {
  0% {
    opacity: 1;
    margin-top: 0;
  }
  50% {
    opacity: 0.5;
    margin-top: -5px;
  }
  100% {
    opacity: 0;
    margin-top: -7px;
  }
}
@keyframes opacityChangeR {
  0% {
    opacity: 0;
    margin-top: -7px;
  }
  50% {
    opacity: 0.5;
    margin-top: -5px;
  }
  100% {
    opacity: 1;
    margin-top: -5px;
  }
}
@keyframes infRotate {
  0% { 
    @include transform(rotate(0deg));
  } 
  100% {
    @include transform(rotate(360deg));
  }
}
.uploading--process{
  em.icon-refresh{
    color:$app-brand-secondary;
    @include animation(infRotate 1s infinite);
  }
}

.ngx-file-mob {
  .ngx-file-drop__drop-zone {
    height: auto !important;
    border: none !important;
    @include border-radius(0 !important);
 
    .ngx-file-drop__content {
      height: auto !important;
    }
  }
}