@import "../core/mixins/box-shadow";
@import "../core/mixins/flexbox";
@import "../core/mixins/transform";
@import "../core/mixins/transitions";
@import "../core/mixins/border-radius";

@import "../variables/variables";
@import "../theme/theme";

.form-control {
    padding: 6px 10px;
    height: 30px;
    min-height: 30px;
    font-family: $body-font;
    font-size: $text-md;
    font-weight: $font-weight-normal;
    color: $app-brand-secondary;
    border: 1px solid $form-control-border;
    background: $white;

    @include transition(border ease 0.3s, color ease 0.3s, box-shadow ease 0.3s, margin 0.3s ease);
    @include border-radius(2px);
    @include noShadow();

    &::placeholder {
        color: $text-dark-60;
        opacity: 1;
        /* Firefox */
    }

    &:-ms-input-placeholder {
        color: $text-dark-60;
    }

    &::-ms-input-placeholder {
        color: $text-dark-60;
    }

    &:focus {
        border-color: $form-control-active-border;

        @include boxShadow(2px 3px 5px rgba(117, 113, 111, 0.23));
    }
    &:hover{
        border-color: $form-control-hover-border;
    }
    &[disabled] {
        border-color: $form-control-disable-border;
        background: $form-control-disable-background;
        cursor: not-allowed;
    }

    &[readonly] {
        border-color: $form-control-disable-border;
        background: $form-control-disable-background;
        cursor: not-allowed;

        &:focus {
            @include noShadow();
        }
    }
}

textarea {
    resize: none;
    height: auto;
}
.app-c-form--postion{
    position: relative;
}

input {
    &.app-c-placeholder-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.form-group {
    /*margin-bottom: 25px;*/
    position: relative;
    
    .help-block{
        /*display: none;*/
        display: block;

        color: $form-error;
        text-align: left;
        font-weight: $font-weight-semibold;
        font-size: $text-sm-plus;
        /*position: absolute;
        top: 100%;
        left: 0;*/
        margin-top: 0px;
        line-height: normal;

        height: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(0.4s 0.3s opacity ease, 0.4s 0.3s visibility ease, 0.4s 0.3s height ease);
        pointer-events: none;

        /*@include border-radius(3px);*/
    }
    .app-c-form--label {
        color: $text-dark-70;
        font-size: $text-md;
        font-weight: $font-weight-normal;
        display: block;
        line-height: 14px;
        margin-bottom: 2px;

        .rtl &, [dir="rtl"] &{

            text-align: right;
        }
    }
    .app-c-form--help {
        color: $text-dark-70;
        font-size: $text-md;
        font-weight: $font-weight-normal;
        display: block;
        line-height: 14px;
        margin-bottom: 2px;

        .rtl &, 
        [dir="rtl"] &{
            text-align: right;
        }
    }
    .app-c-form--value{
        font-size: $text-md-plus;
        font-weight: $font-weight-normal;
        color: $app-brand-secondary;
        display: block;
        line-height: normal;
        margin-top: 6px;

        .rtl &, [dir="rtl"] &{
            text-align: right;
        }
    }

    &.app-c-form--text-value{
        .form-control{
            padding-right: 64px;

            .rtl & ,[dir="rtl"] &{
                padding-right: 10px;
                padding-left: 64px;
            }
        }
        .app-c-form__value{
            color: $text-dark-90;
            font-size: $text-md;
            font-weight: $font-weight-normal;
            position: absolute;
            line-height: normal;
            top: 7px;
            right: 7px;

            .rtl & ,[dir="rtl"] &{
                right: inherit;
                left: 7px;
            }
        }
        .app-c-form-text__holder{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 10px;
            height: 100%;

            @include flexbox();
            @include align-items(center);
            @include justify-content(center);

            .rtl & ,[dir="rtl"] &{
                right: inherit;
                left: 7px;
            }
        }
    }
    &.app-c-form--mandatory {
        .app-c-form--label {
            &:after {
                content: '*';
                color: $form-error;
                display: inline-block;
                font-size: $text-xl;
                line-height: 10px;
                margin-left: 3px;
                position: relative;
                top: 1px;

                .rtl &, [dir] & {
                    margin-left: 0;
                    margin-right: 3px;
                }
            }
        }
    }
    &.app-c-form--inline{
        @include flexbox();
        @include align-items(center);

        .app-c-form--label{
            margin-bottom: 0;
            margin-right: 8px;
            line-height: 12px;

            @include flex-shrink(0);

            .rtl &, [dir="rtl"] &{
                margin-left: 8px;
                margin-right: 0;
            }
        }
    }
}

.has-error {
    /*&:hover {
        .help-block {
            opacity: 0;
        }
    }*/

    .form-control {
        border-color: $form-error;
        color: $form-error;

        &:focus {
            border-color: $form-error;
        }
    }
    .help-block {
        opacity: 1;
        height: 100%;
        visibility: visible;
        pointer-events: auto;
        .rtl &, [dir="rtl"] & {
            text-align: right;
        }
    }

    &.is-valid {
        position: relative;

        .help-block {
            /*position: absolute;*/
            font-size: $text-xl-plus;
            min-width: 230px;
            color: $form-error;
            user-select: none;
        }
    }
}


.app-c-group--input{
    position: relative;

    @include flexbox();

    .app-l-group__input-form{
        width: 100%;
        position: relative;
    }
    .app-l-group__icon{
        margin-left: 4px;

        @include flex-shrink(0);
        @include align-self(center);

        .app-c-btn{
            + .app-c-btn{
                margin-left: 4px;
            }
        }
    }
}


.app-c-group--input-left{
    margin-bottom: 16px;

    @include flexbox();

    .app-l-group__control{
        padding-right: 8px;

        @include flex-shrink(0);
        @include align-self(center);

        .app-c-checkbox{
            margin-top: 20px;
        }
    }
    .app-l-group__form{
        position: relative;
        width: 100%;
    }
}

.app-c-search{
    position: relative;

    .app-c-search--icon{
        font-size: $text-lg;
        position: absolute;
        top: 0px;
        right: 0px;
        color: $text-dark-90;
        height: 100%;
        width: 35px;
        background: none;
        border: none;
        outline: none;

        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        .rtl &, [dir="rtl"] &{
            right: inherit;
            left: 0;
        }

        &:hover, &:focus{
            color: $app-brand-primary;
            outline: none;
        }

        &--no-focus:focus {
            color: $text-dark-90;
        }
        &--no-focus:hover {
            color: $app-brand-primary;
        }

        &.w-30 {
            width: 30px;
        }
    }
    .form-control{
        padding-right: 32px;

        .rtl &, [dir="rtl"] &{
            padding-right: 10px;
            padding-left: 32px;
        }
    }

    &.app-c-search--curved{
        .form-control{
            @include border-radius(35px);
        }
    }
}

.k-textbox{
    @extend .form-control;
}
.app-c-form--val {
    font-size: $text-md-plus;
    color: $app-brand-secondary;
    .rtl &, [dir="rtl"] & {
        text-align: right;
    }
}
.form-group--mb-sm {
    margin-bottom: 12px;
}
.app-l-nsmap__card__sep {
    border-color: $text-dark-30;
}
.note-txt-sm {
    font-size: $text-md;
    color: $text-dark-70;
    .rtl &, [dir="rtl"] & {
        text-align: right;
    }
}
.app-l-nsmap__card__subhead {
    .rtl &, [dir="rtl"] & {
        text-align: right;
    }
}
.notes-eng-list {
    .rtl &, [dir="rtl"] & {
        text-align: right;
    }
}

.app-c-input-group{
    .input-group-append{
        width: 34px;
        border: $form-control-border 1px solid; 

        .rtl &, [dir="rtl"] &{
            margin-left: 0;
            margin-right: -1px;
        }
        .app-l-input--value{
            color: $text-dark-60;
            font-size: $text-md;
            font-weight: $font-weight-normal;
            width: 100%;

            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }
    }
}

.k-state-disabled{
    .k-select{
        display: none;
    }
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.k-flatcolorpicker {
    .k-gradient-values {
        .k-numeric-wrap {
            border: none;
            &.k-state-focused {
                @include noShadow();
            }
        }
        .k-input {
            @extend .form-control;
        }
    }
}

.app-c-file-input-wrap {
    position: relative;
    overflow: hidden;

    input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}