.app-c-grid {
  display: flex;
  flex-direction: column;
  height: 100%;

  .k-grid {
    border-color: transparent;
    border-top-color: transparent;
    background: none;
    height: 100%;
    font-family: $body-font;

    .k-grid-aria-root {
      .k-grid-header {
        background: $text-dark-10;
        position: relative;
        z-index: 1;

        .k-grid-filter {
          padding: 0;
          /*width: 10px;*/
          width: 22px;
          height: 22px;
          /*bottom: calc( 0.58rem + 0.75em - calc( 1.5em + 0.75rem ) / 2 );*/
          bottom: 9px;
          @include border-radius(4px);

          &:focus {
            @include noShadow();
          }

          &.k-state-active {
            background: $app-brand-primary;
            color: $white;

            &:hover {
              color: $white;
            }
          }
        }

        .k-grid-filter:hover,
        .k-header-column-menu {
          color: $black;
        }

        @include boxShadow(0px 2px 2px rgba(0, 0, 0, 0.08));

        .k-grid-header-wrap {
          padding-left: 16px;
          padding-right: 16px;
          border-right-color: transparent;

          @media screen and (max-width: $screen-xs-max) {
            padding-left: 0px;
            padding-right: 0px;
          }

          table {
            thead {
              tr {
                th {
                  color: $app-brand-secondary;
                  text-transform: uppercase;
                  font-weight: $font-weight-semibold;
                  font-size: $text-sm-plus;
                  padding: 11px 10px;
                  border-left: 1px solid $text-dark-20;
                  border-right: none;

                  &.text-center {
                    .k-checkbox:before {
                      content: "";
                    }
                  }

                  &:first-child {
                    border-left-color: transparent;
                  }

                  &.k-filterable {
                    padding-right: 22px;
                  }

                  .k-checkbox:indeterminate {
                    background-color: $app-brand-primary;
                    border-color: $app-brand-primary;

                    &::before {
                      height: 2px;
                      border-radius: 25px;
                    }
                  }

                  .k-link {
                    user-select: none;

                    span[aria-label]:not(.k-icon) {
                      @include inline-flex();
                      @include flex-direction(column);
                      margin-left: calc(1rem - 1px);
                      width: 1em;
                      height: 1em;
                      line-height: 1;
                      vertical-align: super;
                      // font-family: $font-icons !important;
                      font-size: 8px;
                      color: $text-dark-40;

                      &::before {
                        content: "\e957";
                      }

                      &::after {
                        content: "\e955";
                      }

                      @media print {
                        display: none;
                      }
                    }

                    .k-sort-order {
                      display: none;
                    }
                  }

                  .k-i-sort-asc-sm,
                  .k-i-sort-desc-sm {
                    @include inline-flex();
                    @include flex-direction(column);
                    // font-family: $font-icons !important;
                    font-size: 8px;
                    vertical-align: super;

                    &::before {
                      content: "\e957";
                    }

                    &::after {
                      content: "\e955";
                    }

                    @media print {
                      display: none;
                    }
                  }

                  .k-i-sort-asc-sm {
                    &::before {
                      color: $app-brand-primary;
                    }

                    &::after {
                      color: $text-dark-40;
                    }
                  }

                  .k-i-sort-desc-sm {
                    &::before {
                      color: $text-dark-40;
                    }

                    &::after {
                      color: $app-brand-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .k-grid-container {
        .k-grid-content {
          margin-left: 16px;
          margin-right: 16px;
          background-color: $white;
          /*overflow-y: auto;*/

          @media screen and (max-width: $screen-xs-max) {
            margin-left: 0px;
            margin-right: 0px;
          }

          .k-grid-table-wrap {
            .k-grid-table {
              tr {
                td {
                  /*padding: 11px 10px;*/
                  padding: 8px 10px;
                  color: $app-brand-secondary;
                  font-size: $text-md;
                  font-weight: $font-weight-normal;
                  background: $white;
                  border: none;
                  border-left: 1px solid $text-dark-20;
                  border-bottom: 1px solid $text-dark-20;
                  @include transition(background ease 0.2s);

                  @media screen and (max-width: $screen-xs-max) {
                    padding: 20px;
                  }

                  &:first-child {
                    position: relative;
                    border-left-color: transparent;

                    &:before {
                      content: "";
                      width: 3px;
                      height: 0;
                      background: $app-brand-primary;
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      margin: auto;
                      @include transition(height ease 0.2s);

                      @media screen and (max-width: $screen-xs-max) {
                        display: none;
                      }
                    }
                  }

                  .app-l-grid__actions {
                    @include flexbox();
                    @include align-items(center);

                    .app-c-btn--icon.app-c-btn--icon-plain {
                      &:disabled {
                        color: $text-dark-50;
                      }
                    }
                  }

                  &.text-center {
                    .k-checkbox:before {
                      content: "";
                    }
                  }

                  &.k-command-cell {
                    .app-c-btn--icon:not(:disabled):hover {
                      color: $app-brand-primary;
                    }
                  }
                }

                &:not(.k-grid-norecords):hover,
                &.k-state-selected {
                  td {
                    background: $app-brand-primary-extra-light;

                    &:first-child {
                      &:before {
                        height: 100%;
                      }
                    }

                    .app-l-grid__actions {
                      .app-c-btn--icon-plain:not(:disabled) {
                        color: $app-brand-primary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .k-grid-pager {
      background: $white;
      padding: 15px 18px;
      @include flex-shrink(0);
      @include boxShadow(0px -2px 2px rgba(0, 0, 0, 0.08));

      .rtl &,
      [dir="rtl"] & {
        @include flex-direction(row-reverse);
      }

      .app-l-grid__nav {
        margin-left: auto;
        @include flexbox();
        @include align-items(center);

        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: auto;
          @include flex-direction(row-reverse);
        }
      }

      .k-pager-nav {
        @extend .app-c-btn;
        @extend .app-c-btn--secondary;
        min-width: 0;
        color: $app-brand-secondary;
        margin-left: 8px;

        &.k-pager-last,
        &.k-pager-first {
          display: none;
        }

        &.k-state-disabled {
          cursor: not-allowed;
          pointer-events: auto;
        }

        .k-icon {
          width: auto;
          font-family: $body-font;
          font-size: $text-md;

          &.k-i-arrow-w {
            &:before {
              content: "Previous";
              display: block;

              .rtl &,
              [dir="rtl"] & {
                @include transform(rotateY(180deg));
              }
            }
          }

          &.k-i-arrow-e {
            &:before {
              content: "Next";
              display: block;

              .rtl &,
              [dir="rtl"] & {
                @include transform(rotateY(180deg));
              }
            }
          }
        }
      }

      .k-pager-numbers {
        .rtl &,
        [dir="rtl"] & {
          @include flex-direction(row-reverse);
        }

        li {
          margin: 0 5px;

          .k-link {
            @extend .app-c-btn;
            @extend .app-c-btn--secondary;
            width: 30px;
            height: 30px;
            min-width: 0;
            padding: 0;
            @include border-radius(50%);

            &.k-state-selected {
              background: $white;
              border-color: $text-dark-60;

              &:focus {
                color: $white;
              }
            }
          }
        }
      }

      /*kendo-pager-prev-buttons{
            @include order(2);
        }
        kendo-pager-numeric-buttons{
            @include order(3);
        }
        kendo-pager-next-buttons{
            @include order(4);
        }*/

      .k-pager-sizes {
        color: $app-brand-secondary;
        font-size: $text-md;
        line-height: 18px;
        margin: 0 auto 0 0;
        @include order(1);

        .rtl,
        [dir="rtl"] & {
          margin-right: 0;
          margin-left: auto;
        }

        select {
          padding: 6px 10px;
          height: 32px;
          min-height: 32px;
          font-size: $text-md;
          font-weight: $font-weight-normal;
          color: $app-brand-secondary;
          border: 1px solid $form-control-border;
          background: $white;
          width: 76px;
          @include border-radius(35px);

          .rtl,
          [dir="rtl"] & {
            margin-left: 0;
            margin-right: 6px;
          }
        }
      }
    }

    .k-hierarchy-cell > .k-icon {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &-k-grid--mh-0 {
    .k-grid {
      min-height: 0;
    }
  }

  &.app-c-grid--px0 {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          padding-right: 0 !important;
          border-bottom-color: transparent;

          .k-grid-header-wrap {
            padding-left: 0;
            padding-right: 0;
            border-right-color: transparent;
          }
        }

        .k-grid-container {
          .k-grid-content {
            margin-left: 0;
            margin-right: 0;
            overflow-y: auto;
          }
        }
      }
    }
  }

  &.app-c-grid--bg {
    background-color: $text-dark-20;
  }

  &.app-c-grid--mh0 {
    min-height: 0;
  }

  &.app-c-grid--b0 {
    .k-grid {
      border: none;
    }
  }

  &.app-c-grid__nd {
    .app-c-grid__no-data {
      height: calc(100vh - (40px + 63px + 190px)); /* tbl header height + tbl footer height + random value */
    }
  }

  &.app-c-grid__nd-h {
    .k-grid-content {
      .k-grid-table-wrap {
        height: 100%;
      }

      table {
        height: 100%;
      }
    }
  }

  &.app-c-grid__head-col-txt {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          .k-grid-header-wrap {
            & > table {
              thead {
                tr {
                  th {
                    .k-link {
                      text-overflow: clip;

                      .app-c-grid-col-header {
                        width: calc(100% - 22px); /* 22px = 3dots menu width */
                      }

                      .k-icon {
                        &.k-i-sort-asc-sm,
                        &.k-i-sort-desc-sm {
                          margin-left: 0;
                        }
                      }

                      span[aria-label]:not(.k-icon) {
                        margin-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.app-c-grid__col-no-filt {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          .k-grid-header-wrap {
            & > table {
              thead {
                tr {
                  td {
                    .k-filtercell {
                      .k-filtercell-wrapper {
                        .k-filtercell-operator {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.app-c-grid__radsel {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          .k-grid-header-wrap {
            & > table {
              thead {
                tr {
                  th {
                    .k-checkbox {
                      visibility: hidden;
                    }
                  }
                }
              }
            }
          }
        }

        .k-grid-container {
          .k-grid-content {
            .k-grid-table-wrap {
              .k-grid-table {
                tbody {
                  tr {
                    td {
                      &:first-child {
                        .k-checkbox {
                          border-width: 2px;
                          @include border-radius(50%);

                          &:focus:not(:checked) {
                            border-color: $text-dark-60;
                          }

                          &:checked {
                            border-color: $app-brand-primary;

                            &::before {
                              content: "";
                              width: 6px;
                              height: 6px;
                              background-color: $white;
                              @include border-radius(50%);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.app-c-grid--no-gap {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          .k-grid-header-wrap {
            padding-left: 0;
            padding-right: 0;
          }
        }

        .k-grid-container {
          .k-grid-content {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }

  &.app-c-grid--card {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          background: $white;
          border-color: $text-dark-30;
          @include noShadow();

          .k-grid-header-wrap {
            table {
              thead {
                tr {
                  th {
                    color: $text-dark-60;
                    border: none;
                  }
                }
              }
            }
          }
        }

        .k-grid-container {
          .k-grid-content {
            margin-left: 0;
            margin-right: 0;
            padding-left: 16px;
            padding-right: 16px;
            background-color: $text-dark-20;

            .k-grid-table-wrap {
              .k-grid-table {
                border-spacing: 0 8px;

                tr {
                  @include border-radius(4px);
                  @include boxShadow(
                    0px 1px 1px transparentize($color: $shadow-color, $amount: 0.75),
                    0px 0px 1px transparentize($color: $shadow-color, $amount: 0.69)
                  );

                  td {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    border: none;

                    &:first-child {
                      @include border-radius(4px 0 0 4px);

                      &::before {
                        display: none;
                      }
                    }

                    &:last-child {
                      @include border-radius(0 4px 4px 0);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.app-l-grid__actions {
  .app-c-btn {
    + .app-c-btn {
      margin-left: 15px;
    }
  }

  .app-l-grid__more {
    margin-left: 9px;
    position: relative;

    .app-c-btn--icon {
      width: 22px;
      height: 22px;
      @include border-radius(4px);
    }

    &.open {
      .app-c-btn--icon {
        background: $app-brand-primary-light;
        color: $app-brand-primary;
      }
    }
  }

  .app-c-btn--icon-plain:not(:disabled) {
    em {
      padding: 3px;
      @include border-radius(4px);
      @include transition(background-color ease 0.3s);
    }

    &:hover {
      em {
        background-color: $app-brand-primary-light;
      }
    }
  }
}

.k-columnmenu-item {
  font-size: $text-lg;
}

.k-columnmenu-actions {
  .k-button {
    @extend .app-c-btn;

    &:not(.k-primary) {
      @extend .app-c-btn--secondary;
    }

    &.k-primary {
      @extend .app-c-btn--primary;
    }
  }
}

.k-filter-menu {
  .k-dropdown,
  .k-dropdowntree {
    font-family: $body-font;
  }
}

.k-grid-columnmenu-popup {
  padding-bottom: 0;

  .k-columnmenu-item-wrapper {
    border-bottom: none;

    .k-column-list-item {
      padding-left: 16px;
      padding-right: 16px;
      @include flexbox();

      .k-checkbox {
        @include flex-shrink(0);

        /*&::before {
                    content: "";
                }*/
      }

      .k-checkbox-label {
        width: 100%;
        font-size: $text-md;
      }
    }
  }
}

.k-list-scroller {
  .k-item {
    font-size: $text-md;
  }

  .k-state-focused {
    /*background-color: $app-brand-primary !important;*/
    box-shadow: none !important;
  }
}

.app-c-grid-col-header {
  display: inline-block;
  vertical-align: middle;
}

.app-l-screen__body > .app-c-grid {
  .app-c-grid__no-data {
    height: calc(100vh - (40px + 63px + 123px)); /* tbl header height + tbl footer height + random value */
  }
}

.app-c-grid__no-data {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  &__txt-main {
    margin-top: 20px;
    font-size: $text-md-plus;
    font-weight: $font-weight-semibold;
    color: $app-brand-secondary;
  }

  &__txt-sub {
    margin-bottom: 12px;
    font-size: $text-md;
    color: $text-dark-70;
  }
}

.app-l-grid__total {
  font-size: $text-md;
  color: $app-brand-secondary;
  margin-left: 3px;
  margin-right: 15px;
  line-height: normal;

  span {
    font-weight: $font-weight-semibold;
  }

  .rtl &,
  [dir="rtl"] & {
    margin-left: 15px;
    margin-right: 3px;
  }
}

@media print {
  td {
    text-overflow: initial;
    overflow: visible;
    word-wrap: break-word;
    white-space: normal;
  }

  .app-c-grid {
    .k-grid {
      .k-grid-aria-root {
        .k-grid-header {
          padding-right: 0 !important;
          border-bottom: 1px solid transparent;

          .k-grid-filter {
            display: none;
          }

          .k-grid-header-wrap {
            table {
              thead {
                tr {
                  th {
                    border-top: 1px solid $text-dark-20;
                    white-space: normal;

                    &:last-child {
                      border-right: 1px solid $text-dark-20;
                    }

                    &.app-c-thd-slc {
                      &:nth-last-child(2) {
                        border-right: 1px solid $text-dark-20;
                      }
                    }

                    & > .k-link {
                      text-overflow: initial;
                      overflow: visible;
                      word-wrap: break-word;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .k-grid-pager {
        display: none;
      }

      .k-grid-content {
        overflow-y: auto !important;

        .k-grid-table-wrap {
          .k-grid-table tr {
            &:first-child td {
              border-top: 1px solid $text-dark-20 !important;
            }

            td {
              &:last-child {
                border-right: 1px solid $text-dark-20 !important;
              }

              &.app-c-thd-slc {
                &:nth-last-child(2) {
                  border-right: 1px solid $text-dark-20 !important;
                }
              }
            }
          }
        }
      }

      .print-th-hide {
        display: none;
      }

      .print-td-hide {
        border-left-color: transparent !important;

        .app-l-grid__actions {
          display: none !important;
        }
      }
    }
  }
}

.app-c-seclbl-print-w {
  width: 50px;

  @media print {
    width: 250px;
  }
}

.app-l-list-pagination {
  width: 100%;

  .k-pager-wrap {
    background: $white;
    padding: 15px 18px;
    @include flex-shrink(0);
    @include boxShadow(0px -2px 2px rgba(0, 0, 0, 0.08));

    .rtl &,
    [dir="rtl"] & {
      @include flex-direction(row-reverse);
    }

    .app-l-grid__nav {
      margin-left: auto;
      @include flexbox();
      @include align-items(center);

      .rtl &,
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: auto;
        @include flex-direction(row-reverse);
      }
    }

    .k-pager-nav {
      @extend .app-c-btn;
      @extend .app-c-btn--secondary;
      min-width: 0;
      color: $app-brand-secondary;
      margin-left: 8px;

      &.k-pager-last,
      &.k-pager-first {
        display: none;
      }

      &.k-state-disabled {
        cursor: not-allowed;
        pointer-events: auto;
      }

      .k-icon {
        width: auto;
        font-family: $body-font;
        font-size: $text-md;

        &.k-i-arrow-w {
          &:before {
            content: "Previous";
            display: block;

            .rtl &,
            [dir="rtl"] & {
              @include transform(rotateY(180deg));
            }
          }
        }

        &.k-i-arrow-e {
          &:before {
            content: "Next";
            display: block;

            .rtl &,
            [dir="rtl"] & {
              @include transform(rotateY(180deg));
            }
          }
        }
      }
    }

    .k-pager-numbers {
      .rtl &,
      [dir="rtl"] & {
        @include flex-direction(row-reverse);
      }

      li {
        margin: 0 5px;

        .k-link {
          @extend .app-c-btn;
          @extend .app-c-btn--secondary;
          width: 30px;
          height: 30px;
          min-width: 0;
          padding: 0;
          @include border-radius(50%);

          &.k-state-selected {
            background: $white;
            border-color: $text-dark-60;

            &:focus {
              color: $white;
            }
          }
        }
      }
    }

    .k-pager-sizes {
      color: $app-brand-secondary;
      font-size: $text-md;
      line-height: 18px;
      margin: 0 auto 0 0;
      @include order(1);

      .rtl,
      [dir="rtl"] & {
        margin-right: 0;
        margin-left: auto;
      }

      .k-dropdown {
        height: 32px;
        font-family: $body-font;
        width: 76px;

        > span {
          height: 32px;
        }

        .k-dropdown-wrap {
          border-color: $form-control-border;
          background: $white;

          @include border-radius(32px);

          .rtl &,
          [dir="rtl"] & {
            @include flex-direction(row-reverse);
          }
          .k-input {
            height: 30px;
            min-height: 30px;
            font-size: $text-md;
            font-weight: $font-weight-normal;
            color: $app-brand-secondary;
            padding: 6px 10px;

            .rtl &,
            [dir="rtl"] & {
              @include flex-direction(row-reverse);
            }
          }
        }
      }
    }
  }
}
