@import "../core/mixins/flexbox";
@import "../core/mixins/transitions";
@import "../core//mixins/border-radius";
@import "../core/mixins/box-shadow";
@import "../core/mixins/transform";

.app-c-main-menu {
  position: fixed;
  @include flexbox();
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  @include transform(translateX(-100%));
  @include transition(transform ease 0.3s, opacity ease 0.2s);

  .rtl &,
  [dir="rtl"] & {
    @include transform(translateX(100%));
  }

  .app-c-main-menu__reveal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $text-dark-10;
    z-index: 2;
    @include transition(all 0.5s cubic-bezier(0.03, 0.37, 1, 0.63));
    opacity: 0;
    pointer-events: none;

    &.app-c-main-menu__reveal--circle {
      clip-path: circle(0% at 100% 0);

      .rtl &,
      [dir="rtl"] & {
        clip-path: circle(0% at -100% 0);
      }
    }

    &.active {
      opacity: 1;
      pointer-events: auto;

      &.app-c-main-menu__reveal--circle {
        clip-path: circle(142% at 100% 0);

        .rtl &,
        [dir="rtl"] & {
          clip-path: circle(142% at 100% 0);
        }
      }
    }

    .app-c-main-menu__reveal__search {
      position: relative;

      .app-c-btn__sclose {
        position: absolute;
        z-index: 10000;
        top: 21px;
        left: 24px;
        font-size: $text-sm-plus;

        .rtl &,
        [dir="rtl"] & {
          left: auto;
          right: 24px;
        }
      }

      .ng-select {
        &.ng-select-single {
          border-bottom: 1px solid #cfcfcf;

          .ng-select-container {
            min-height: 72px;
            max-height: 72px;
            border: none;
            color: $text-dark-90;
            @include noShadow();

            .ng-value-container {
              min-height: 72px;
              max-height: 72px;
              font-size: 20px;
              padding-left: 70px;

              .rtl &,
              [dir="rtl"] & {
                padding-left: 0;
                padding-right: 70px;
              }

              .ng-value {
                background: none;
                border: none;
                @include border-radius(0);
              }

              .ng-input {
                top: 0;
                height: 100%;
                padding-left: 70px;
                padding-right: 102px;

                .rtl &,
                [dir="rtl"] & {
                  padding-left: 102px;
                  padding-right: 70px;
                }

                & > input {
                  height: 100%;
                }
              }
            }
          }

          .ng-dropdown-panel {
            background-color: $text-dark-10;
            border: none;
            @include noShadow();
            @include border-radius(0);
            border-top: 1px solid #cfcfcf;
            bottom: auto;

            .ng-dropdown-panel-items {
              max-height: calc(100vh - 73px);

              .ng-option {
                background-color: $text-dark-10;
                padding: 14px 24px 14px 70px;

                .rtl &,
                [dir="rtl"] & {
                  padding-right: 70px;
                  padding-left: 24px;
                }

                @media (max-width: $screen-md-max) {
                  padding-left: 24px;
                  white-space: normal;

                  .rtl &,
                  [dir="rtl"] & {
                    padding-right: 24px;
                  }

                  & + .ng-option {
                    border-top: 1px solid $text-dark-20;
                  }
                }

                .app-c-main-menu__reveal__search__list {
                  @include flexbox();
                  @include align-items(center);

                  @media (max-width: $screen-md-max) {
                    flex-direction: column;
                    align-items: flex-start;
                  }

                  .app-c-main-menu__reveal__search__list__sub {
                    @include flexbox();
                    @include align-items(center);

                    @media (max-width: $screen-md-max) {
                      order: 2;
                      @include flex-wrap(wrap);

                      .app-c-main-menu__reveal__search__list__arrow {
                        &:last-child {
                          display: none;
                        }
                      }
                    }
                  }

                  .app-c-main-menu__reveal__search__list__title {
                    font-size: $text-md-plus;
                    color: $text-dark-90;
                  }

                  .app-c-main-menu__reveal__search__list__arrow {
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 7px;
                    color: $text-dark-50;

                    em {
                      @include flexbox();

                      .rtl &,
                      [dir="rtl"] & {
                        &::before {
                          content: "\e904";
                        }
                      }
                    }
                  }

                  .app-c-main-menu__reveal__search__list__value {
                    font-size: $text-lg-plus;
                    font-weight: $font-weight-semibold;
                    color: $app-brand-primary;

                    @media (max-width: $screen-md-max) {
                      order: 1;
                      margin-bottom: 5px;
                      line-height: 20px;
                    }
                  }
                }
              }
            }
          }
        }
        .ng-arrow-wrapper {
          display: none;
        }
        .ng-clear-wrapper {
          width: 63px; /* width of the text */
          height: 13px; /* height of the text */
          margin-right: 24px;

          .rtl &,
          [dir="rtl"] & {
            margin-right: 0;
            margin-left: 24px;
          }

          .ng-clear {
            width: 100%;

            &::after {
              content: "Clear All";
              position: absolute;
              left: 0;
              top: 0;
              font-size: $text-lg-plus;
              font-weight: $font-weight-semibold;
              background-color: $white;
            }
          }

          &:hover {
            .ng-clear {
              color: $app-brand-primary;
            }
          }
        }
      }
    }
  }

  .app-c-main-menu__sidebar {
    @include flexbox();
    @include flex-direction(column);
    @include flex-shrink(0);
    width: 368px;
    height: 100%;
    background-color: $text-dark-90;
    padding: 16px 0;

    .app-c-main-menu__sidebar__top {
      padding: 0 24px 24px 24px;

      @media (min-width: ($screen-lg)) {
        margin-bottom: 20px;
        border-bottom: 1px solid #4a4a4a;
      }

      .app-c-main-menu__sidebar__head {
        @include flexbox();
        @include align-items(center);
        margin-bottom: 24px;

        .app-c-btn {
          color: $white;

          &:hover {
            color: $app-brand-primary;
          }
        }

        .app-c-main-menu__sidebar__head__logo {
          @include flexbox();
          @include align-items(center);
          margin-left: 30px;

          .rtl &,
          [dir="rtl"] & {
            margin-left: 0;
            margin-right: 30px;
          }

          a + a {
            margin-left: 20px;

            .rtl &,
            [dir="rtl"] & {
              margin-left: 0;
              margin-right: 20px;
            }
          }
        }
      }

      .app-c-main-menu__sidebar__intro {
        .rtl &,
        [dir="rtl"] & {
          text-align: right;
        }

        .app-c-main-menu__sidebar__intro__head {
          margin-bottom: 12px;
          margin-top: -4px;
          font-size: 18px;
          font-weight: $font-weight-semibold;
          color: $white;
          opacity: 0;
          @include transition(margin-top 0.45s ease 0.3s, opacity 0.45s ease 0.3s);
        }
        .app-c-main-menu__sidebar__intro__desc {
          margin-top: -4px;
          font-size: $text-md;
          color: $text-dark-40;
          opacity: 0;
          @include transition(margin-top 0.45s ease 0.3s, opacity 0.45s ease 0.3s);
        }
      }
    }

    .app-c-main-menu__sidebar__links {
      padding: 0 14px;

      & > ul {
        & > li {
          & + li {
            margin-top: 8px;
          }

          & > a {
            @include flexbox();
            @include align-items(center);
            padding: 22px 24px 22px 10px;
            color: $white;
            opacity: 0;
            @include border-radius(12px);
            @include transition(background-color 0.3s ease, padding 0.45s ease 0.32s, opacity 0.45s ease 0.32s);

            .rtl &,
            [dir="rtl"] & {
              padding-left: 24px;
              padding-right: 22px;
            }

            &:hover {
              text-decoration: none;

              @media (min-width: $screen-lg) {
                .app-c-main-menu__sidebar__links__act {
                  em {
                    @include transform(translateX(4px));
                    .rtl &,
                    [dir="rtl"] & {
                      @include transform(scaleX(-1) translateX(4px));
                    }
                  }
                }
              }
              @media (max-width: $screen-md-max) {
                .app-c-main-menu__sidebar__links__act {
                  em {
                    @include transform(translateX(-4px) rotateY(180deg));
                    .rtl &,
                    [dir="rtl"] & {
                      @include transform(scaleX(-1) translateX(4px));
                    }
                  }
                }
              }
            }

            .app-c-main-menu__sidebar__links__icon {
              margin-right: 14px;

              .rtl &,
              [dir="rtl"] & {
                margin-right: 0;
                margin-left: 14px;
              }

              img {
                display: block;
              }
            }

            .app-c-main-menu__sidebar__links__txt {
              font-size: $text-xl;
              font-weight: $font-weight-semibold;
            }

            .app-c-main-menu__sidebar__links__act {
              margin-left: auto;

              @media (min-width: ($screen-lg)) {
                .rtl &,
                [dir="rtl"] & {
                  margin-left: 0;
                  margin-right: auto;
                }
              }

              em {
                display: block;
                @include transform(translateX(0px));
                @include transition(transform 0.2s ease);

                .rtl &,
                [dir="rtl"] & {
                  @include transform(scaleX(-1));
                }
              }
            }
          }
          &:hover,
          &.active {
            > a {
              background-color: rgba($color: $app-brand-secondary, $alpha: 0.4);
            }
          }
        }
      }
    }
    .favourite-menu-wrapper {
      margin-top: auto;
    }
  }
  .app-c-main-menu__right {
    @include flexbox();
    @include flex-direction(column);
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 368px);
    height: calc(100% - 100px);
    min-height: 0;

    .app-c-main-menu__contents {
      display: none;
      width: 100%;
      height: 100%;
      margin-left: -16px;
      opacity: 0;
      z-index: 1;
      @include transition(margin 0.55s ease 0.34s, opacity 0.55s ease 0.34s);

      @media (min-width: ($screen-lg)) {
        padding: 0 42px 32px 42px;
      }

      .rtl &,
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: -16px;
      }

      &.active {
        @include flexbox();
        @include flex-direction(column);
      }

      .app-c-main-menu__box {
        position: relative;
        @include flexbox();
        @include align-items(center);
        margin: 8px;
        padding: 20px;
        @include border-radius(8px);
        background-color: #232323;
        @include transition(all 0.3s ease);

        &::after {
          @media (min-width: ($screen-lg)) {
            content: "";
            left: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 25px;
            background-color: #414141;
            opacity: 0;
            @include border-radius(0 0 8px 8px);
            @include transition(all 0.3s ease);
          }
        }

        &:hover {
          text-decoration: none;
        }

        .app-c-main-menu__box__icon {
          margin-right: 16px;

          & > img {
            display: block;
            width: 44px;
            height: 44px;
          }

          .rtl &,
          [dir="rtl"] & {
            text-align: right;
            margin-right: 0;
            margin-left: 16px;
          }
        }

        .app-c-main-menu__box__bt {
          .app-c-main-menu__box__name {
            font-size: $text-xl;
            color: $white;
            word-break: break-word;
            @include transition(all 0.3s ease);
          }
        }
      }

      .app-c-main-menu__box__det {
        margin: 8px;
        padding: 16px;
        background-color: #414141;
        @include border-radius(12px);

        .app-c-main-menu__box__det__info {
          .app-c-main-menu__box__info__head {
            font-size: 20px;
            color: $white;
          }

          .app-c-main-menu__box__info__txt {
            font-size: $text-md-plus;
            color: rgba($color: $white, $alpha: 0.51);
            line-height: 22px;
          }
        }

        .app-c-main-menu__box__det__links {
          .app-c-main-menu__box__det__links__head {
            margin-top: 24px;
            margin-bottom: 12px;
            font-size: $text-lg;
            font-weight: $font-weight-semibold;
            color: $app-brand-primary-50;
            text-transform: uppercase;
          }
          > ul {
            > li {
              position: relative;
              padding-left: 18px;

              .rtl &,
              [dir="rtl"] & {
                padding-left: 0;
                padding-right: 18px;
              }

              &::before {
                content: "\e921";
                position: absolute;
                left: 0;
                top: 3px;
                // font-family: $font-icons;
                font-size: $text-sm;
                color: $white;

                .rtl &,
                [dir="rtl"] & {
                  content: "\e920";
                  left: auto;
                  right: 0;
                }
              }

              & + li {
                margin-top: 8px;
              }

              > a {
                font-size: $text-md-plus;
                color: $white;
                @include transition(color 0.3s ease);

                &:hover {
                  text-decoration: none;
                  color: $app-brand-primary-50;
                }
              }
            }
          }
        }
      }

      .app-c-main-menu__box__fav {
        @media (min-width: ($screen-lg)) {
          margin-left: 6px;
          margin-right: 6px;
        }

        & + .app-c-main-menu__box__fav {
          margin-top: 24px;
        }

        .app-c-main-menu__box__fav__head {
          margin-bottom: 12px;
          font-size: $text-lg-plus;
          font-weight: $font-weight-semibold;
          color: $app-brand-primary;
        }

        > ul {
          > li {
            & + li {
              margin-top: 8px;
            }

            > a {
              font-size: $text-lg;
              color: $white;
              @include transition(color 0.3s ease);
              position: relative;
              &:hover {
                text-decoration: underline;
                color: $app-brand-primary;
              }
            }
            &:hover {
              .app-c-main-menu__box__det__links--favourited {
                &::after {
                  content: "\e95b";
                  // font-family: $font-icons;
                  position: absolute;
                  font-size: 13px;
                  width: 14px;
                  height: 14px;
                  font-style: normal;
                  color: $app-brand-primary;
                  padding-left: 8px;
                  cursor: pointer;
                  .rtl &,
                  [dir="rtl"] & {
                    padding-left: 0px;
                    padding-right: 8px;
                  }
                }
                &:hover {
                  &::after {
                    content: "\e95c";
                    color: $text-dark-60;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rtl &,
    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  .app-c-main-menu__main-bg {
    @include flexbox();
    @include flex-direction(column);
    width: calc(100% - 368px);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-height: 0;
    background-color: $app-brand-secondary;

    .app-c-main-menu__search {
      @media (min-width: ($screen-lg)) {
        margin: 28px 48px 0 48px;
      }

      &:hover {
        text-decoration: none;
      }

      .app-c-main-menu__search__control {
        @include flexbox();
        @include align-items(center);
        height: 55px;
        font-size: 18px;
        color: $text-dark-50;
        background-color: $app-brand-secondary;
        border: 1px solid $text-dark-90;
        @include border-radius(8px);
        padding-left: 16px;
        padding-right: 16px;
        user-select: none;
        cursor: pointer;

        em {
          margin-right: 16px;

          .rtl &,
          [dir="rtl"] & {
            margin-right: 0;
            margin-left: 16px;
          }
        }
      }
    }
    .rtl,
    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  &.active {
    opacity: 1;
    @include transform(translateX(0%));

    .app-c-main-menu__sidebar {
      .app-c-main-menu__sidebar__top {
        .app-c-main-menu__sidebar__intro {
          .app-c-main-menu__sidebar__intro__head,
          .app-c-main-menu__sidebar__intro__desc {
            margin-top: 0;
            opacity: 1;
          }
        }
      }

      .app-c-main-menu__sidebar__links {
        > ul {
          > li {
            > a {
              opacity: 1;
              padding-left: 24px;

              .rtl &,
              [dir="rtl"] & {
                padding-right: 24px;
              }
            }
          }
        }
      }
    }
    .app-c-main-menu__right {
      .app-c-main-menu__contents {
        opacity: 1;
        margin-left: 0;

        .rtl &,
        [dir="rtl"] & {
          margin-right: 0;
          text-align: right;
        }
      }
    }
  }
}

.app-c-main-menu__contents {
  .app-c-main-menu__contents_row-wrap {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-shrink(0);

    .app-c-main-menu__contents_col-wrap {
      width: calc(100% / 3);
      @include flex-shrink(0);
      z-index: 1;
    }

    &.is-item1selected {
      :nth-child(1) {
        .app-c-main-menu__box {
          background-color: #414141;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &::after {
            bottom: -25px;
            opacity: 1;
            @include border-radius(0);
          }
        }
      }
    }
    &.is-item2selected {
      :nth-child(2) {
        .app-c-main-menu__box {
          background-color: #414141;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &::after {
            bottom: -25px;
            opacity: 1;
            @include border-radius(0);
          }
        }
      }
    }
    &.is-item3selected {
      :nth-child(3) {
        .app-c-main-menu__box {
          background-color: #414141;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &::after {
            bottom: -25px;
            opacity: 1;
            @include border-radius(0);
          }
        }
      }
    }
    .app-c-main-menu__contents_col__content-common {
      @include flex-shrink(0);
      @include flex-grow(0);
      @include flex-basis(100%);
      height: 0;
      overflow: hidden;
      margin-top: -15px;
      opacity: 0;
      @include transition(margin-top 0.35s ease 0.12s, opacity 0.35s ease 0.12s);
    }
    & + .app-c-main-menu__contents_row-wrap {
      z-index: 0;
      animation: slideOut 0.2s ease 0s;
    }
    &.submenu-opened {
      .app-c-main-menu__contents_col__content-common {
        height: auto;
        margin-top: -1px;
        opacity: 1;
      }
      & + .app-c-main-menu__contents_row-wrap {
        z-index: 0;
        animation: slideIn 0.2s ease;
      }
    }
  }
  &::after {
    content: "";
    @include flex-shrink(0);
    @include flex-grow(0);
    @include flex-basis(16px);
  }
}

.app-c-main-menu__box__det {
  .app-c-main-menu__box__det__links {
    > ul {
      > li {
        .app-c-main-menu__box__det__links--favourited {
          content: "";
          // font-family: $font-icons;
          position: absolute;
          font-size: $text-md-plus;
          font-style: normal;
          color: rgba($color: $white, $alpha: 0.51);
          width: 14px;
          height: 14px;
          padding-left: 8px;
          cursor: pointer;

          .rtl &,
          [dir="rtl"] & {
            padding-left: 0px;
            padding-right: 8px;
          }
        }

        &:hover {
          text-decoration: underline;
          color: $app-brand-primary;

          .app-c-main-menu__box__det__links--favourited {
            &::after {
              content: "\e95c";
            }

            &:hover {
              color: $app-brand-primary-50;
            }
          }
        }

        &.favourited {
          > a {
            color: $app-brand-primary !important;
            text-decoration: underline;
          }
          .app-c-main-menu__box__det__links--favourited {
            &::after {
              content: "\e95b";
              color: $app-brand-primary;
            }
          }
        }
      }
    }
    .rtl &,
    [dir="rtl"] & {
      text-align: right;
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  .app-c-main-menu {
    background-color: $app-brand-secondary;
    overflow: auto;

    .app-c-main-menu__sidebar {
      background-color: $app-brand-secondary;
      width: 100%;
      padding-top: 0;

      .app-c-main-menu__sidebar__top {
        padding: 0;

        .app-c-main-menu__sidebar__head {
          background: $text-dark-90;
          padding: 16px 24px;
        }
      }

      .app-c-main-menu__sidebar__links {
        // height: 100%;
        height: auto;
        > ul {
          // height: 100%;
          height: auto;
          > li {
            height: auto;
            .app-c-main-menu__right {
              background-color: $app-brand-secondary;
              border-top: 1px solid $text-dark-90;
              @include flex-direction(column);
              position: static;
              /*height: calc(100% - 173px);*/
              height: 100%;
              width: 100%;

              .app-c-main-menu__contents {
                .app-c-main-menu__contents_row-wrap {
                  .app-c-main-menu__contents_col-wrap {
                    width: 100%;
                    height: 72px;

                    .app-c-main-menu__box {
                      @include flex-basis(100%);
                      @include flex-direction(row);
                      @include align-items(center);
                      height: 100%;

                      .app-c-main-menu__box__bt {
                        margin-top: 0;
                        width: 100%;
                        margin-left: 10px;

                        .rtl &,
                        [dir="rtl"] & {
                          margin-left: 0;
                          margin-right: 10px;
                        }
                      }
                      .app-c-main-menu__box__name {
                        margin-right: auto;

                        .rtl &,
                        [dir="rtl"] & {
                          margin-right: 0;
                          margin-left: auto;
                        }
                      }
                    }
                    & + .app-c-main-menu__contents_col-wrap {
                      margin-top: 4px;
                    }
                  }
                  .app-c-main-menu__contents_col__content-common {
                    margin-bottom: -5px;

                    .app-c-main-menu__box__det {
                      @include border-radius(0);
                      margin-top: 1px;

                      @media (max-width: $screen-md-max) {
                        @include border-radius(0 0 12px 12px);
                      }

                      .app-c-main-menu__box__det__links {
                        & > ul {
                          & > li {
                            position: relative;

                            .app-c-main-menu__box__det__links--favourited {
                              width: 18px;
                              height: 18px;
                              padding-left: 0;
                              top: -3px;
                              right: 3px;
                              font-size: $text-xxl;

                              .rtl &,
                              [dir="rtl"] & {
                                padding-right: 0;
                                right: auto;
                                left: 3px;
                              }

                              &::after {
                                content: "\e95c";
                              }
                            }

                            & > a {
                              display: inline-block;
                              padding-right: 30px;

                              .rtl &,
                              [dir="rtl"] & {
                                padding-right: 0;
                                padding-left: 30px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  & + .app-c-main-menu__contents_row-wrap {
                    margin-top: 4px;
                  }
                }
                &::after {
                  content: "";
                  @include flex-shrink(0);
                  @include flex-grow(0);
                  @include flex-basis(6px);
                }

                .app-c-main-menu__box__fav {
                  & > ul {
                    & > li {
                      position: relative;

                      & > a {
                        display: inline-block;
                        padding-right: 30px;

                        .rtl &,
                        [dir="rtl"] & {
                          padding-right: 0;
                          padding-left: 30px;
                        }
                      }

                      .app-c-main-menu__box__det__links--favourited {
                        &::after {
                          content: "\e95b";
                          // font-family: $font-icons;
                          position: absolute;
                          top: -3px;
                          right: 3px;
                          font-size: $text-xxl;
                          width: 18px;
                          height: 18px;
                          font-style: normal;
                          color: $app-brand-primary;
                          padding-left: 0;
                          cursor: pointer;

                          .rtl &,
                          [dir="rtl"] & {
                            padding-right: 0;
                            right: auto;
                            left: 3px;
                          }
                        }

                        &:hover {
                          &::after {
                            content: "\e95c";
                            color: $text-dark-60;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            > a {
              @include flex-direction(row-reverse);
              .app-c-main-menu__sidebar__links__icon {
                margin-right: 0;
                @include order(2);
              }
              .app-c-main-menu__sidebar__links__txt {
                @include order(1);
                margin-right: auto;
                margin-left: 10px;

                .rtl &,
                [dir="rtl"] & {
                  margin-right: 10px;
                  margin-left: auto;
                }
              }
              .app-c-main-menu__sidebar__links__act {
                margin-right: 25px;
                margin-left: 0;
                @include order(3);
                > em {
                  @include transform(rotateY(180deg));
                }

                .rtl &,
                [dir="rtl"] & {
                  margin-right: 0;
                  margin-left: 25px;
                }
              }
            }
            &.active {
              // height: 100%;
              height: auto;
            }
            & + li {
              margin-top: 0;
            }
            &.explore-menu-items {
              .app-c-main-menu__right {
                height: calc(100% - 249px);
              }
            }
            &.favourite-menu-items {
              .app-c-main-menu__right {
                /*height: calc(100% - 243px);*/
                height: 100%;
              }
            }
          }
        }
      }
      .favourite-menu-wrapper {
        margin-top: 0;
      }
    }

    .app-c-main-menu__contents_row-wrap {
      &.submenu-opened {
        .app-c-main-menu__contents_col__content-common {
          height: auto;
          margin-top: -1px;
          opacity: 1;
        }
        & + .app-c-main-menu__contents_row-wrap {
          z-index: 0;
          animation: none;
        }
      }
      & + .app-c-main-menu__contents_row-wrap {
        z-index: 0;
        animation: none;
      }
      .app-c-main-menu__contents_col-wrap {
        &.active + .app-c-main-menu__contents_col-wrap {
          animation: slideIn 0.25s ease 0s;
        }
      }
    }

    .app-c-main-menu__main-bg {
      position: static;
      width: 100%;
      height: auto;
      padding-left: 16px;
      padding-right: 16px;

      .app-c-main-menu__search {
        .app-c-main-menu__search__control {
          height: 40px;
          border-bottom: none;
          @include border-radius(90px);
          background-color: $text-dark-90;
          font-size: $text-lg;
        }
      }
    }
  }
  .app-c-main-menu__sidebar__intro {
    display: none;
  }

  .app-c-main-menu__contents_row-wrap {
    .app-c-main-menu__contents_col-wrap {
      &:nth-child(1) {
        @include order(1);
      }
      &:nth-child(2) {
        @include order(2);
      }
      &:nth-child(3) {
        @include order(3);
      }
    }
    &.is-item1selected {
      .app-c-main-menu__contents_col__content-common {
        @include order(1);
      }
    }
    &.is-item2selected {
      .app-c-main-menu__contents_col__content-common {
        @include order(2);
      }
    }
    &.is-item3selected {
      .app-c-main-menu__contents_col__content-common {
        @include order(3);
      }
    }
  }

  .app-c-main-menu__box__dashboard-data__wrap {
    @include flex-direction(column);
    .app-c-main-menu__box__dashboard-data {
      height: 110px !important;
      & + .app-c-main-menu__box__dashboard-data {
        margin-left: 0 !important;
        margin-top: 10px !important;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    margin-top: -15px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes slideOut {
  0% {
    opacity: 0;
    margin-top: 15px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
