@import "../core/mixins/box-shadow";
@import "../core/mixins/flexbox";
@import "../core/mixins/transform";
@import "../core/mixins/transitions";
@import "../core/mixins/border-radius";

@import "../variables/variables";
@import "../theme/theme";

.app-c-modal {
  .modal-dialog {
    height: 100%;
    margin: 0 auto;
    padding: 15px;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .modal-content {
      background: $white;
      border: none;
      max-height: 100%;

      @include border-radius(6px);
      @include boxShadow(0px 0px 10px rgba(35, 59, 88, 0.3));
      @include flexbox();
      @include flex-direction(column);

      .modal-header {
        border-bottom: none;
        padding: 24px 16px 10px;

        @include flexbox();
        @include align-items(center);
        @include flex-shrink(0);

        .app-l-modal-header__left {
          @include flexbox();
          @include align-items(center);

          h4 {
            color: $text-dark-90;
            font-weight: $font-weight-semibold;
            font-size: $text-xxl;
            margin: 0;
            padding: 0;
            line-height: 22px;
          }
          .app-c-btn__round {
            margin-left: 8px;
          }
        }
        .app-l-modal-header__right {
          margin-left: auto;

          @include flex-shrink(0);
          @include align-self(flex-start);
        }

        .app-c-modal--close {
          background: $modal-close-bg;
          width: 20px;
          height: 20px;
          color: $text-dark-70;
          font-size: 9px;
          outline: none;
          border: none;
          padding: 0;

          @include border-radius(3px);
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          @include transition(background ease 0.2s);

          &:hover {
            background: $modal-close-bg-hover;
          }
        }
      }
      .modal-body {
        padding: 10px 16px 20px;
        height: 100%;
        overflow: auto;
        min-height: 0;

        h4 {
          color: $text-dark-90;
          font-weight: $font-weight-semibold;
          font-size: $text-lg-plus;
          line-height: 22px;
          margin: 0 0 8px;
        }
        p {
          color: $text-dark-90;
          font-size: $text-md;
          line-height: 18px;
          margin: 0;

          + p {
            margin-top: 15px;
          }
        }
      }
      .modal-footer {
        padding: 12px 24px;
        border-top-color: $generic-border-color;

        @include flex-shrink(0);

        > * {
          margin: 0;
        }
      }
    }
  }
}

/* Kendo Dialog */

.k-dialog-wrapper {
  .k-overlay {
    background: rgba($app-brand-secondary, 0.5);
  }
  .k-dialog {
    border: none;
    max-width: 100%;

    @include boxShadow(0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31));

    .k-dialog-titlebar {
      background: $white;
      border-bottom: $text-dark-30 1px solid;
      padding: 16px;

      .rtl &,
      [dir="rtl"] & {
        @include flex-direction(row-reverse);
      }
      .k-dialog-title {
        color: $app-brand-secondary;
        font-family: $body-font;
        font-weight: $font-weight-semibold;
        font-size: $text-xl;
        line-height: 23px;

        .rtl &,
        [dir="rtl"] & {
          @include justify-content(flex-end);
        }
      }
      .k-dialog-actions {
        .k-button {
          .k-icon {
            // font-family: $font-icons;
            color: $app-brand-secondary;
            font-size: $text-md;

            @include transition(color ease 0.2s);

            &:hover {
              color: $app-brand-primary;
            }

            &:before {
              content: "\e90f";
            }
          }
        }
      }
    }
    .k-dialog-content {
      font-family: $body-font;
      padding: 32px 16px;
      text-align: left;
      .rtl &,
      [dir="rtl"] & {
        text-align: right;
      }
    }
    .k-dialog-buttongroup {
      background: $text-dark-10;
      padding: 12px 16px;
      border: none;

      .rtl &,
      [dir="rtl"] & {
        @include flex-direction(row-reverse);
      }
      .app-c-btn {
        + .app-c-btn {
          .rtl &,
          [dir="rtl"] & {
            margin-left: 0;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.app-l-kendo__modal-content {
  font-family: $body-font;
  p {
    margin: 0;
    color: $app-brand-secondary;
    font-size: $text-lg;
    line-height: 20px;
    font-weight: $font-weight-normal;

    + p {
      margin-top: 15px;
    }

    .rtl &,
    [dir="rtl"] & {
      text-align: right;
    }
  }
}

.app-l-kendo__modal-p {
  .k-dialog {
    .k-dialog-content {
      padding: 16px 16px 0 16px;
    }
  }
}

.app-c-dialog-action-m {
  margin: 16px -16px -32px -16px;
}
