@import "../theme/theme";

.app-c-pill {
  cursor: text;
  touch-action: auto;
  &--primary {
    background: $app-brand-primary-extra-light;
    border: 1px solid $app-brand-primary-light;
    color: $app-brand-primary;
  }
  &-group {
    .app-c-pill__status {
      @include flexbox();
      @include align-items(center);
      cursor: pointer;
      touch-action: manipulation;
      padding: 2px 8px;
      border: 1px solid $text-dark-70;
      @include border-radius(25px);
      color: $text-dark-90;
      @include transition(all 0.3s ease);
      &:not(:first-child) {
        margin-left: 16px;
        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: 16px;
        }
      }
      &__check {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-shrink(0);
        width: 16px;
        height: 16px;
        margin-right: 5px;
        @include border-radius(50%);
        border: 1px solid $text-dark-90;
        background-color: $white;
        font-size: 9px;
        color: $white;
        @include transition(all 0.3s ease);
        .rtl &,
        [dir="rtl"] & {
          margin-right: 0;
          margin-left: 5px;
        }
      }
      &.active {
        background-color: $app-brand-primary-extra-light;
        border-color: $app-brand-primary;
        color: $app-brand-primary;
        .app-c-pill__status__check {
          background-color: $app-brand-primary;
          border-color: $app-brand-primary;
        }
      }
    }
    &__wrap {
      .rtl &,
      [dir="rtl"] & {
        text-align: right;
      }
    }
  }
}

.app-l-chk-pills {
  .rtl &,
  [dir="rtl"] & {
    text-align: right;
  }

  .app-l-chk-pill__wrap {
    display: inline-block;
    position: relative;
    padding: 2px 8px 2px 28px;
    cursor: pointer;
    font-size: $text-md;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid $text-dark-70;
    @include border-radius(25px);
    @include transition(all ease 0.3s);

    .rtl &,
    [dir="rtl"] & {
      padding-right: 28px;
      padding-left: 8px;
    }

    &.active {
      color: $app-brand-primary;
      background-color: $app-brand-primary-extra-light;
      border-color: $app-brand-primary;
    }

    & + .app-l-chk-pill__wrap {
      margin-left: 15px;

      .rtl &,
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: 15px;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $app-brand-primary;
        border-color: $app-brand-primary;

        &::after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      left: 8px;
      height: 16px;
      width: 16px;
      border: 1px solid $text-dark-70;
      @include border-radius(50%);
      @include transition(background-color ease 0.3s, border-color ease 0.3s);

      .rtl &,
      [dir="rtl"] & {
        left: auto;
        right: 8px;
      }

      &::after {
        display: none;
        content: "\e901";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        // font-family: $font-icons;
        font-size: 9px;
        color: $white;
      }
    }
  }

  &.row {
    .app-l-chk-pill__wrap {
      margin-top: 4px;
      margin-bottom: 4px;

      &:first-child {
        margin-left: 15px;

        .rtl &,
        [dir="rtl"] & {
          margin-left: 0;
          margin-right: 15px;
        }
      }
    }
  }
}

.app-c-rmbl__pill {
  @include inline-flex();
  @include align-items(center);
  position: relative;
  min-width: 0;
  padding: 2px 8px;
  font-size: $text-md;
  border: 1px solid transparent;
  @include border-radius(18px);
  @include transition(background-color ease 0.3s, color ease 0.3s);

  &:hover {
    text-decoration: none;
  }

  & + .app-c-rmbl__pill {
    margin-left: 8px;

    .rtl &,
    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  &--primary {
    color: $app-brand-primary;
    background-color: $app-brand-primary-extra-light;
    border-color: $app-brand-primary;

    .app-c-rmbl__pill__btn {
      &.app-c-btn--icon {
        &.app-c-btn--icon-plain {
          color: $app-brand-primary;

          &:hover,
          &:focus {
            color: $app-brand-primary-extra-dark;
          }
        }
      }
    }

    &.open {
      background-color: $app-brand-primary;
      color: $white;

      & > .app-c-rmbl__pill__btn {
        &.app-c-btn--icon {
          &.app-c-btn--icon-plain {
            color: $white;

            &:hover,
            &:focus {
              color: $white;
            }
          }
        }
      }
    }
  }

  .app-c-rmbl__pill__name {
    margin-right: 12px;

    .rtl &,
    [dir="rtl"] {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  .app-c-rmbl__pill__btn {
    &.app-c-btn--icon {
      @include flex-shrink(0);
      font-size: 8px;
    }
  }
}
