.app-c-report-viewer {
  position: relative;

  .app-c-report-viewer__comp {
    & > div {
      width: 100% !important;
    }

    .trv-report-viewer {
      .trv-content-wrapper {
        .trv-nav {
          border: 0;

          .k-menu {
            &:not(.k-context-menu) {
              @include justify-content(center);
              margin-left: -8px;
              background-color: $white;

              .rtl &,
              [dir="rtl"] & {
                margin-left: 0;
                margin-right: -8px;
              }

              & > .k-item {
                color: $app-brand-secondary;
                margin-left: 8px;

                .rtl &,
                [dir="rtl"] & {
                  margin-left: 0;
                  margin-right: 8px;
                }

                &.k-state-disabled {
                  filter: none;
                  opacity: 1;
                  color: $text-dark-50;
                }

                &:focus,
                &.k-state-focused {
                  @include noShadow();
                }

                & > .k-state-active {
                  color: $white;
                  @include transition(color ease 0.3s);
                }

                &.k-state-border-down {
                  & > .k-link {
                    background-color: $app-brand-primary;
                    @include border-radius(4px);
                    @include transition(background-color ease 0.3s);
                  }
                }

                &.k-state-hover:not(.trv-report-pager) {
                  color: $white;
                  @include transition(color ease 0.3s);

                  & > .k-link {
                    background-color: $app-brand-primary;
                    @include border-radius(4px);
                    @include transition(background-color ease 0.3s);
                  }
                }

                &:nth-child(5),
                &:nth-child(10),
                &:nth-child(16) {
                  margin-left: 20px;
                  padding-left: 20px;

                  .rtl &,
                  [dir="rtl"] & {
                    margin-left: 0;
                    margin-right: 20px;
                    padding-left: 0;
                    padding-right: 20px;
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 1px;
                    height: 24px;
                    background-color: $text-dark-30;

                    .rtl &,
                    [dir="rtl"] & {
                      left: auto;
                      right: 0;
                    }
                  }
                }

                .k-menu-group {
                  font-family: $body-font !important;
                }

                & > .k-link {
                  @include flexbox();
                  box-sizing: border-box;
                  min-width: 32px;
                  max-height: 32px;
                  padding: 2px 8px;
                  line-height: normal;

                  .t-font-icon {
                    margin-top: 0;
                    // font-family: $font-icons;

                    &.t-i-undo::before {
                      content: "\e997";
                    }

                    &.t-i-redo::before {
                      content: "\e996";
                    }

                    &.t-i-stop-rendering {
                      font-size: $text-md;

                      &::before {
                        content: "\e90f";
                      }
                    }

                    &.t-i-refresh-a::before {
                      content: "\e97c";
                    }

                    &.t-i-arrow-double-60-w::before {
                      content: "\e998";
                    }

                    &.t-i-seek-w {
                      font-size: $text-lg;

                      &::before {
                        content: "\e920";
                      }
                    }

                    &.t-i-seek-e {
                      font-size: $text-lg;

                      &::before {
                        content: "\e921";
                      }
                    }

                    &.t-i-arrow-double-60-e::before {
                      content: "\e993";
                    }

                    &.t-i-file::before {
                      content: "\e96f";
                    }

                    &.t-i-download {
                      &::before {
                        content: "\e92d";
                      }

                      & + .k-i-arrow-60-down {
                        // font-family: $font-icons;
                        font-size: 9px;

                        &::before {
                          content: "\e91f";
                        }
                      }
                    }

                    &.t-i-print::before {
                      content: "\e92e";
                    }

                    &.t-i-email::before {
                      content: "\e99a";
                    }

                    &.t-i-book::before {
                      content: "\e995";
                    }

                    &.t-i-filter::before {
                      content: "\e917";
                    }

                    &.t-i-zoom-in::before {
                      content: "\e97b";
                    }

                    &.t-i-zoom-out::before {
                      content: "\e994";
                    }

                    &.t-i-zoom::before {
                      content: "\e999";
                    }

                    &.t-i-search::before {
                      content: "\e922";
                    }
                  }
                }

                &.trv-report-pager {
                  & > .k-link {
                    font-family: $body-font;

                    .k-textbox {
                      top: auto;
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
