@media screen and (max-width: $screen-xs-max) {
  //custom tab function
  //animation test
  // .dropdown-menu{
  //   display: block;
  //   opacity: 0; 
  //   transition: 0.2s all;
  //   margin-top: -5px;
  //   &.show{
  //        opacity: 1;
  //        margin-top: auto;
  //        z-index: 1;
  //   }
  // }
  .app-c-nsmap__modal {
    &.mobiledetailsPanel {
      &.inview {
        top: 0 !important;
        height: 100%;
        width: 100%;
        z-index: 5;
      }
      .app-l-nsmap__main-tabs__content {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;

        .rtl &,
        [dir="rtl"] & {
          padding-right: 16px;
        }

        &.fixed-footer{
          height: calc(100vh - 160px);
          overflow: auto;
        }
      }
      .app-l-nsmap__sidecont {
        height: 100%;
      }
      .app-c-nsmap__modal-header {
        padding: 16px 20px;
        // .rtl &,
        // [dir="rtl"] & {
        //   padding: 16px 16px 16px 20px;
        // }
        .app-c-nsmap__modal-header-right-action {
          width: 70px;
          @include flex-shrink(0);
        }
      }
      .app-c-more-btn {
        background: transparent;
        margin: 0px 10px;
      }
      .app-c-close-btn em {
        font-size: $text-md;
      }
      .app-l-nsmap__file-cont {
        padding-bottom: 0 !important;
        margin-top: 0px;
        min-height: 100%;
      }
      .accordion-wrapper {
        padding: 8px;
      }
      .tab-content {
        .app-c-nsmap__modal-nsmap-content {
          @include flex-direction($value: column);
          .app-c-tab-selector { 
            @include flexbox();
            @include flex-direction($value: row);
            @include justify-content($value: space-between);
            border: 1px solid $text-dark-30;
            border-top: 0;
            padding: 16px 14px 16px 16px;
            .rtl &,
            [dir="rtl"] & {
              padding: 16px 16px 16px 14px;
            }
            .tab-title {
              font-size: $text-md-plus;
              font-weight: $font-weight-semibold;
              color: $app-brand-primary;
            }
            .app-c-btn--link-icon {
              @include transition(0.4s all);
              padding: 4px 10px;
              em {
                font-size: $text-sm;
              }
            }
          }
          &.open {
            .tab-selector-dropdown {
              .app-c-btn--link-icon {
                &.other-tabs-toggle {
                  z-index: 1009;
                  position: relative;
                  @include transform(rotate(180deg));
                }
              }
            }
          }
        }
        .accordion-cards {
          .panel-open {
            .accordion-header {
              .network-expansion em {
                @include transform(rotate(-180deg));
              }
            }
            .network-expansion {
              font-size: $text-md;
            }
          }
          .accordion-header {
            @include flexbox();
            @include justify-content($value: space-between);
            @include align-items($value: center);
            .network-expansion em {
              font-size: $text-sm;
            }
          }
          .panel-default {
            @include boxShadow(none);
            border-bottom: 0;
            margin: 8px 0px;
            .panel-heading {
              padding: 12px 16px;
              background-color: $white;
              .app-c-simple-card__title {
                margin: 0;
              }
              .panel-title {
                .app-c-simple-card-accordion {
                  p {
                    font-size: $text-md-plus;
                  }
                }
              }
            }
            .panel-body {
              padding: 0;
              .form-group {
                .app-c-form--val {
                  min-height: 19px;
                }
              }
            }
          }
        }
      }
      .chart-box {
        margin: 12px 16px;
        &.roughnessIndex{
          margin: 21px 16px;
        }
        .chart-header {
          @include flexbox();
          @include justify-content($value: space-between);
          @include flex-direction($value: row);
          @include align-items($value: center);
          padding: 8px 16px;
          .chart-title {
            font-weight: $font-weight-semibold;
            font-size: $text-md-plus;
            color: $text-dark-90;
          }
          .chart-action {
            .app-c-btn {
              max-height: 30px;
              margin: 0;
            }
          }
        }
      }
      .m-tab-navigation {
        .nav-tabs {
          padding: 0px 15px;
          .nav-item a {
            padding: 13px 0;
          }
        }

        &.m-tab-navigation__flh {
          height: 100%;

          & > .tab-container {
            @include flexbox();
            @include flex-direction(column);
            height: 100%;

            & > .tab-content {
              height: 100%;
              min-height: 0;

              & > .tab-pane {
                height: 100%;
              }
            }
          }
        }
      }
      .legends-custom {
        padding: 14px 16px;
        margin: 16px;
        overflow-y: auto;
        ul {
          @include flexbox();
          @include flex-direction($value: row);
          li {
            @include flexbox();
            @include align-items($value: center);
            .legend-ind {
              width: 12px;
              height: 12px;
              &--sun {
                background-color: #2684ff;
              }
              &--mon {
                background-color: #00d18c;
              }
              &--tue {
                background-color: #f8d762;
              }
              &--wed {
                background-color: #d635b2;
              }
              &--thu {
                background-color: #3fdcff;
              }
              &--fri {
                background-color: #8777d9;
              }
              &--sat {
                background-color: #ff5630;
              }
              &--up {
                background-color: #2684ff;
              }
              &--down {
                background-color: #3fdcff;
              }
            }
            .legend-val {
              padding-left: 5px;
              padding-right: 15px;
              .rtl &,
              [dir="rtl"] & {
                padding-right: 5px;
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  .select-model {
    padding: 12px 16px;
    margin: 6px 0;
    .select-model-body {
      padding: 12px 0px;
    }
  }
  .app-c-dropdown__default.app-c-dropdown-tab-selector {
    min-width: calc(100vw) !important;
    background: $white;
    @include boxShadow(rgba(9, 30, 66, 0.2) 0px 3px 5px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px);
    top: -23px !important;
    right: -16px !important;

    .other-tabs-toggle {
      @include transition(0.4s all);
    }
    li a {
      font-size: $text-md-plus !important;
      padding: 8px 20px !important;
      font-weight: $font-weight-semibold !important;
      text-decoration: none;
    }
    .rtl &,
    [dir="rtl"] & {
      left: -20px !important;
      right: auto !important;
    }
  }

  .app-l-c-mobile-attachments {
    .app-l-flex {
      width: 48% !important;
      margin: 8px 3px !important;
      .app-l-nsmap__file-cont__box__file__prev {
        height: 135px;
      }
    }
    .app-btn-upload {
      padding: 5px 15px;
    }
  }
  .app-l-nsmap__file-cont__box__ov__bt {
    @include flex-direction($value: column-reverse);
    .app-l-nsmap__file-cont__box__ov__view {
      position: absolute;
      bottom: 20px;
      & + button {
        position: absolute;
        top: 50%;
      }
    }
  }
}

//movile responsive

.mobile-responsive {
  @media screen and (min-width: $screen-sm) {    
     display: none !important;
  } 
}
.mr-hidden { 
  @media screen and (max-width: $screen-xs-max) {
    display: none !important;
  }
}
.mobile-popover {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  @include transform(translate(0px, 235px));
  @include transition(0.4s ease);
  &.active {
    @include transform(translate(0px, 0px));
  }
  .app-l-network-popover {
    min-width: 100%;
    z-index: 9;
    .app-l-np__close {
      display: none;
    }
    .app-l-np-header {
      @include border-radius(15px 15px 0 0);
      background-color: $white;
      @include flexbox();
      @include justify-content($value: space-between);
      @include align-items($value: center);
      padding: 16px 16px;
      border: 1px solid $text-dark-30;
      .app-l-np-header-title {
        font-size: $text-lg-plus;
        color: $app-brand-secondary;
      }
      .close-mobile-popover {
        font-size: $text-sm;
        background: transparent;
        color: $app-brand-secondary;
        padding: 0;
      }
    }
    .app-l-np__body {
      .app-l-np__br {
        max-width: 100%;
      }
    }
    .app-l-np__footer,
    .app-l-np__bl {
      background-color: $white;
    }
    .app-l-np__bl {
      width: 170px;
    }
    .app-l-np__footer {
      .app-l-np__fl {
        .app-c-btn + .app-c-btn {
          margin-left: 18px;
          .rtl &,
          [dir="rtl"] & {
            margin-right: 18px !important;
            margin-left: 0;
          }
        }
      }
    }
  }
  .rtl &,
  [dir="rtl"] & {
    text-align: right;
  }
}
.form-field-wrapper {
  padding: 16px;
  background: $default-bg-tint;
  &.white {
    background: $white;
  }
  .form-group .app-c-form--label{
    font-weight: $font-weight-semibold;
  }
  .rtl &,
  [dir="rtl"] & {
   text-align: right;
  }
}
.image-preview-desc{
  color: $app-brand-secondary;
  font-size: $text-lg;
}
.image-date,.image-details{
  @include flexbox();
  @include align-items($value :flex-end);
  .image-title{
    font-size: $text-sm-plus;
    color: $text-dark-70;
    text-transform: uppercase;
    width: 60px;
    margin-right: 10px;
    .rtl &,
    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  .image-date,.image-size{
    font-weight: $font-weight-semibold;
    font-size: $text-md-plus;
    color: $app-brand-secondary;
  } 
  .rtl &,
    [dir="rtl"] & {
     text-align: right;
    }
}
//bottom panel and overlay
.app-l-network-panel__mobile__more.moreOptions {
  z-index: 6;
}
.app-l-network-panel__mobile__nwg__ov.mobile-overlay {
  z-index: 5;
}

.card-section {
  background: $white;
  @include boxShadow(
    0px 1px 1px rgba(9, 30, 66, 0.25),
    0px 0px 1px rgba(9, 30, 66, 0.31)
  );
  @include border-radius(4px);
}
.overflow-chart {
  .card-section {
    overflow: auto; 
    .chart-header {
      position: absolute;
      right: 8px;
      width: 100%;
      .rtl &,
      [dir="rtl"] & {
        left: 8px;
        right: auto;
      }
      .chart-title--label{
        position: relative;
        top: 10px;
        left: 20px;
        .rtl &,
      [dir="rtl"] & {
        left: auto;
        right: 20px;
      }
      }
    }
    .k-chart{
      width: 600px;
      margin-top: 50px;
    }
  }
}
.imagePreview{
  position: relative;
  .app-l-imagePreview{
    width: 100%;
    max-height: 240px;
    object-fit: cover;
  }
  .zoomImage{
    position: absolute;
    bottom: 16px;
    right: 16px;
    .rtl &,
      [dir="rtl"] & {
        right: auto;
        left: 16px;
      }
      .zoom-btn{
        background: $app-brand-secondary;
        color: $white;
        @include border-radius(50%);
        width: 28px;
        height: 28px;
        border: 0;
        outline: none;
        em{
          @include flexbox();
          @include align-items($value : center);
          @include justify-content($value : center);
          font-size: $text-md-plus;
        }
      }
  }
}
.form-elements{
  padding: 6px 4px;
}