<div class="container">
  <main class="main-content">
    <form class="form">
      <div class="form__header">
        <h4 class="form__heading"><router-outlet></router-outlet></h4>
      </div>
      <div class="form__body">
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
        <div class="form__group form__group--required">
          <label class="form__label" for="Label">Label</label>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" placeholder="Name">
          </div>
        </div>
      </div>
      <div class="form__footer">
        <button type="button" class="button button--secondary">Cancel</button>
        <button type="submit" class="button button--primary">Save</button>
      </div>
    </form>
  </main>
</div>