@use "sass:color";

$app-brand-primary: #0747a6;
$app-brand-primary-dark: color.scale($app-brand-primary, $lightness: -20%);
$app-brand-primary-extra-dark: color.scale($app-brand-primary, $lightness: -40%);
$app-brand-primary-small-light: color.scale($app-brand-primary, $lightness: 20%);
$app-brand-primary-disable: #fef1ea;

$text-dark-10: #f7f7f7;
$text-dark-20: #ececec;
$text-dark-30: #dbdbdb;
$text-dark-40: #cccccc;
$text-dark-50: #9e9e9e;
$text-dark-60: #626262;
$text-dark-70: #515151;
$text-dark-90: #3b3b3b;
$text-disabled: #fdc5ac;
$form-control-disable-border: #bdbdbd;
$app-brand-primary-extra-light: #fef1ea;
$app-brand-primary-disable: #fef1ea;
$app-brand-primary-20: #fee2d5;
$app-brand-primary-50: #fd7d43;
$app-brand-secondary: #121212;
$app-brand-primary-light: #fdc5ac;

$light-blue: #2684ff;
$white: #fff;
$black: #000;

$form-error: #de350b;

$primary-color: $app-brand-primary;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;
$border-color: #ced4da;
$error-color: #dc3545;
$background-color: #f5f5f5;
